@model IEnumerable<ITool>
@{
    Title = T["Tools"].ToString();
    Back = Url.Action<ManageController>(c => c.Index());
}

@if (Model.HasItems()) {
    <table class="table table-hover table-name-desc">
        <thead>
            <tr>
                <th class="table-icon"></th>
                <th>@T["Name"]</th>
                <th>@T["Description"]</th>
                <th class="table-icon"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tool in Model) {
                <tr @(Html.Raw(!tool.IsLoaded() ? @"class=""table-warning""" : "")) data-href="@(Url.Action<ToolsController>(c => c.Get(tool.Id)))">
                    <td class="table-icon"><a class="btn btn-icon" href="@(Url.Action<ToolsController>(c => c.Get(tool.Id)))">@Svg.Icon(tool.Icon, tool.Color)</a></td>
                    <td><a href="@(Url.Action<ToolsController>(c => c.Get(tool.Id)))">@tool.Name</a></td>
                    <td>@tool.Description</td>
                    <td class="table-icon text-right">
                        @if (!tool.IsLoaded()) {
                            using (Html.BeginForm(nameof(ToolsController.Delete), null, new { id = tool.Id.ToString() }, FormMethod.Post, new { data_turboform = "" })) {
                                @Html.HttpMethodOverride(HttpVerbs.Delete);
                                <button type="submit" class="btn btn-icon btn-danger" title="@T["Remove"]">@Svg.Icon("close")</button>
                            }
                        } else if (tool.IsRunnable()) {
                            <form action="@(Url.Action<ToolsController>(c => c.Run(tool.Id, null)))" method="post" data-turboform>
                                <button type="submit" class="btn btn-icon btn-primary" title="@T["Run"]">@Svg.Icon("play")</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

