@model Weavy.Core.Models.File
@{
    var draftable = Model as IDraftable;

    var htmlAttributes = new Dictionary<string, object>(){
        { "autocomplete", "off" },
        { "novalidate", "" }

    };

    if (ViewData["turboform"] != null) {
        htmlAttributes.Add("data-turboform", "");
    }

}
<div class="container mt-3">
    <form id="content-form" action="@(Url.Action<ContentController>(x => x.Update(Model.Id, null, null)))" method="post" @Html.Attributes(htmlAttributes)>
        @Html.HttpMethodOverride(HttpVerbs.Put)
        @Html.EditorsForModel(exclude: new string[] { nameof(Model.Name) })
        @Html.EditorFor(x => Model.Blob, additionalViewData: new { Placeholder = Model.Name, Required = false, Remove = false, CloudEnabled = true })
        <div class="form-buttons">
            <button type="submit" class="btn btn-primary" name="operation" value="update">@Model.MetaData().ModifyVerb</button>
            <button type="submit" class="btn btn-outline-secondary" name="operation" value="cancel" data-dismiss="modal">@T["Cancel"]</button>
        </div>
    </form>
</div>
