@model Search
@{
    Title = Model.Name;
    
    string path = Url.Action<SearchController>(c => c.Search(Model.Id, null, null));
    string tab = ViewContext.RouteData.Values["tab"] as string;
    string qs = Request.QueryString.Rebuild("top", null, "skip", null).AsQueryString();
}

<div class="container text-center">
    @WeavyContext.Space.AvatarImg(32, htmlAttributes: new { @class = "my-4" })
    <form action="@(path + Request.QueryString.Rebuild("q", null).AsQueryString())" method="get" data-turboform>
        <div class="form-group" role="search">
            <input class="form-control" type="search" name="q" id="search-q" value="@Model.Result.Query.WrappedQuery.Text" placeholder="@T["Search {0}", WeavyContext.Space.Name]" />
            @if (Model.Result.Query.WrappedQuery.Text.IsNullOrEmpty()) {
                <button type="submit" class="btn btn-icon">@Svg.Icon("magnify")</button>
            } else {
                <a href="@path" class="btn btn-icon">@Svg.Icon("close")</a>
            }
        </div>
    </form>
</div>

<div class="container my-4">
    @if (!string.IsNullOrEmpty(Model.Result.Query.WrappedQuery.Text)) {
        <nav class="nav nav-tabs nav-tabs-cluster mb-4">
            <a class="nav-link @(tab == null ? "active": "")" href="@(path + qs)">@T["Everything"]</a>
            <a class="nav-link @(SearchController.IsTabActive(Request, "posts") ? "active": "")" href="@(path + "/posts" + qs)">@T["Posts"]</a>
            <a class="nav-link @(SearchController.IsTabActive(Request, "files") ? "active": "")" href="@(path + "/files" + qs)">@T["Files"]</a>
            <a class="nav-link @(SearchController.IsTabActive(Request, "comments") ? "active": "")" href="@(path + "/comments" + qs)">@T["Comments"]</a>
        </nav>
    }

    @if (Model.Result.TotalCount == 0 && !string.IsNullOrEmpty(Model.Result.Query.WrappedQuery.Text)) {
        <p>@T["Your search - <strong>{0}</strong> - did not match {1} in {2}.", Model.Result.Query.WrappedQuery.Text, (tab == null || tab == "everything" ? T["anything"].ToString() : $"{T["any"].ToString()} {T[tab.ToSentenceCase()].ToString().ToLower()}"), WeavyContext.Space.Name]</p>
        <p>Suggestions:</p>
        <ul>
            @if (Model.Result.Query.WrappedQuery.SpaceId != null && !IsEmbedded) {
                <li>@(Html.ActionLink<Weavy.Web.Controllers.HomeController>(c => c.Search(null, null), qs: qs, text: T["Try searching all spaces."], htmlAttributes: new { data_bubble_target = "start" }))</li>
            }
            <li>@T["Make sure that all words are spelled correctly."]</li>
            <li>@T["Try different keywords."]</li>
            <li>@T["Try more general keywords."]</li>
            <li>@T["Try fewer keywords."]</li>
        </ul>
    }

    @{ Html.RenderPartial("_SearchResult", Model.Result); }
</div>
