@model IPlugin
@{
    Title = "Content types";
    Back = Url.Action<AppsController>(c => c.Index());
}


<div class="container my-3">

    @using (Html.BeginForm(nameof(AppsController.Update), null, FormMethod.Post, new { data_turboform = "" })) {
        @Html.HttpMethodOverride(HttpVerbs.Put)
        <div class="form-group">
            <label class="control-label">Id</label>
            <p class="form-control-static">@Model.Id</p>
        </div>
        <div class="form-group">
            <label class="control-label">Type</label>
            <p class="form-control-static">@Model.FullName</p>
        </div>
        <div class="form-group">
            <label class="control-label">Desciption</label>
            <p class="form-control-static">@Model.Description</p>
        </div>
        if (!Model.IsLoaded()) {
            <div class="form-group">
                <label class="control-label">Status</label>
                <p class="form-control-static">
                    <span class="badge badge-danger">missing</span>
                </p>
            </div>
        }

        <div class="form-buttons">
            <a href="@Back" class="btn btn-outline-secondary mr-auto" data-shortcut="Esc">Back</a>

            @if (!Model.IsLoaded()) {
                <button type="submit" name="button" value="@nameof(AppsController.Delete)" class="btn btn-danger btn-load" @if (Model.IsCore()) { <text> disabled</text> }>Delete</button>
            } else if (!Model.IsCore()) {
                if (Model.IsEnabled) {
                    <button type="submit" name="button" value="@nameof(AppsController.Disable)" class="btn btn-outline-warning btn-load">Disable</button>
                } else {
                    <button type="submit" name="button" value="@nameof(AppsController.Enable)" class="btn btn-outline-success btn-load">Enable</button>
                }
            }

        </div>
    }
</div>


