@model IEnumerable<IPlugin>
@{
    Title = T["Apps"].ToString();
    Back = Url.Action<ManageController>(c => c.Index());
}

<div class="container-fluid my-3">

@if (Model.HasItems()) {
    <table class="table table-hover table-name-desc">
        <thead>
            <tr>
                <th class="table-icon"></th>
                <th>@T["Name"]</th>
                <th>@T["Description"]</th>
                <th class="table-icon"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var plug in Model) {
                <tr @(Html.Raw(!plug.IsLoaded() ? @"class=""table-warning""" : !plug.IsEnabled ? @"class=""table-muted""" : "")) data-href="@(Url.Action<AppsController>(c => c.Get(plug.Id)))">
                    <td class="table-icon"><a class="btn btn-icon" href="@(Url.Action<AppsController>(c => c.Get(plug.Id)))">@Svg.Icon(plug.Icon, plug.Color)</a></td>
                    <td><a href="@(Url.Action<AppsController>(c => c.Get(plug.Id)))">@plug.Name</a></td>
                    <td>@plug.Description</td>
                    <td class="table-icon">
                        @if (!plug.IsLoaded()) {
                            using (Html.BeginForm(nameof(AppsController.Delete), null, new { id = plug.Id.ToString() }, FormMethod.Post, new { data_turboform = "" })) {
                                @Html.HttpMethodOverride(HttpVerbs.Delete);
                                <button type="submit" class="btn btn-icon btn-danger" title="@T["Remove"]">@Svg.Icon("close")</button>
                            }
                        } else if (!plug.IsEnabled) {
                            using (Html.BeginForm(nameof(AppsController.Enable), null, new { id = plug.Id.ToString() }, FormMethod.Post, new { data_turboform = ""})) {
                                @Html.HttpMethodOverride(HttpVerbs.Put);
                                <button type="submit" class="btn btn-icon btn-warning" title="@T["Disabled"]">@Svg.Icon("checkbox-blank-outline")</button>
                            }
                        } else {
                            using (Html.BeginForm(nameof(AppsController.Disable), null, new { id = plug.Id.ToString() }, FormMethod.Post, new { data_turboform = "" })) {
                                @Html.HttpMethodOverride(HttpVerbs.Put);
                                <button type="submit" class="btn btn-icon btn-success" title="@T["Enabled"]">@Svg.Icon("checkbox-marked-outline")</button>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

</div>
