@model Tuple<Space, App>
@{
    Layout = null;
    Space space = Model.Item1;
    App app = Model.Item2;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Weavy Client Test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    @if (Request.Browser.Browser == "InternetExplorer") {
        <script src="~/javascript/ie.js"></script>
    }
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="~/javascript/weavy.js"></script>

    <style>
        html, body {
            overflow-x: hidden;
            background: #666;
        }

        .i {
            width: 1.5rem;
            height: 1.5rem;
            fill: currentColor;
        }

        svg.i:not(.text-native) * {
            fill: currentColor;
        }

        .navbar-brand {
            padding: 0;
        }

            .navbar-brand img {
                width: 2rem;
                height: 2rem;
            }

        .nav-link {
            cursor: pointer;
            position: relative;
        }

            .nav-link .badge {
                position: absolute;
                right: 0;
                top: .5rem;
                border-radius: 1rem;
                padding: .25rem;
                min-width: 1rem;
                max-width: 2rem;
                height: 1rem;
                line-height: .5rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

        .drawer {
            position: fixed;
            top: 3.5rem;
            bottom: 0;
            z-index: 1039;
            transition: transform, opacity;
            transition-duration: 0.2s;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            right: 0;
            width: 20rem;
            transform: translateX(20rem);
            pointer-events: none;
            border-left: 1px solid #333;
        }

            .drawer.open {
                transform: none;
            }

        .panel {
            padding: 15px;
            height: calc(100vh - 3.625rem);
        }

        .panel-close {
        }
    </style>

</head>
<body>
    <nav class="navbar  navbar-expand navbar-dark bg-dark text-light">
        <a class="navbar-brand" href="~/test/client">@Html.IconImg(24)</a>
        <a id="btn-sign-in" class="nav-link">Sign in</a>
        <a id="btn-sign-out" class="nav-link">Sign out</a>
        <a id="btn-toggle-files" class="nav-link mr-auto">Toggle Files</a>
        <a id="notifications" class="nav-link p-2">@Svg.Icon("bell")</a>
        <a id="messenger" class="nav-link p-2">@Svg.Icon("weavy-messenger")</a>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div id="panel-files" class="col panel"></div>
            <div id="panel-posts" class="col panel"></div>
            <div id="panel-comments" class="col panel"></div>
        </div>
    </div>

    <div id="drawer" class="drawer"></div>
    <section id="weavyOverlay"></section>

    <script>
        (function ($) {

            var weavy = window.weavy = new Weavy({
                id: "ctx",
                @if (ViewBag.Token != null) {
                <text>jwt: "@ViewBag.Token",</text>
                }
                spaces: [
                    {
                        key: "client-test-global",
                        name: "Client Test Global",
                        container: $("#drawer"),
                        tabbed: true,
                        apps: [
                            { key: "notifications", type: "notifications" },
                            { key: "messenger", type: "messenger" }
                        ]
                    },
                    {
                        id: @space.Id,
                        apps: [
                            {
                                id: @app.Id
                            },
                            {
                                key: "files",
                                type: "files"
                            }
                        ]
                    }
                ]
            });

            var space = weavy.space({ key: "client-test-demo" });
            var files = space.app({ key: "files", type: "files", container: "#panel-files"});
            var posts = space.app({ key: "posts", type: "posts", container: "#panel-posts" });
            var comments = space.app({ key: "comments", type: "comments", container: "#panel-comments" });

            $("#btn-sign-out").on("click", function () {
                console.log("click signOut");
                weavy.authentication.signOut();
            });

            $("#btn-sign-in").on("click", function () {
                console.log("click signIn");
                weavy.authentication.signIn();
            });

            $("#btn-toggle-files").on("click", function () {
                console.log("toggle files");
                weavy.space("client-test-demo").app(files).toggle();
            });

            $("#notifications").on("click", function () {
                console.log("click notifications");
                weavy.space("client-test-global").app("notifications").toggle();
            });

            $("#messenger").on("click", function () {
                console.log("click messenger");
                weavy.space("client-test-global").app("messenger").toggle();
            });


            weavy.on("badge", function (e, badge) {
                setBadge("#notifications", badge.notifications);
                setBadge("#messenger", badge.conversations);
            });

            weavy.on("open", function (e, open) {
                if (open.space.options.key === "client-test-global") {
                    weavy.log("on:open (hub)", open);
                    $("#drawer").addClass("open");
                }
            });

            weavy.on("close", function (e, close) {
                if (close.space.options.key === "client-test-global") {
                    weavy.log("on:close (hub)", close);
                    $("#drawer").removeClass("open");
                }

            });

            weavy.on("user-error", function () {
                weavy.alert("User token is invalid. <a href='javascript:window.location.reload();'>Reload</a>", true)
            });

            function setBadge(selector, count) {
                if (count > 0) {
                    var $badge = $(selector + " .badge");
                    if ($badge.length) {
                        $badge.text(count);
                    } else {
                        $('<span class="badge badge-danger">' + count + '</span>').appendTo(selector);
                    }
                } else {
                    $(selector + " .badge").remove();
                }
            }

        })(jQuery);
    </script>
</body>
</html>
