@{
    Back = "javascript:history.go(-1);";
    Layout = null;
    Title = "Empty test page";
}
<!DOCTYPE html>
<html lang="@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@Title</title>
    @Bundler.Styles("~/views/test/scrolltest.scss")
</head>
<body>
    <nav class="navbar-theme fixed-top">
        <div class="navbar navbar-primary">
            <div class="navbar-icons">
                <a class="btn btn-icon" href="@Back" data-link>@Svg.Icon("arrow-left")</a>
            </div>
        </div>
    </nav>
    <main>
    </main>
</body>
</html>
