@model AccountModel
@using Microsoft.Owin.Security
@{
    Title = "Edit profile";
    Back = Url.Back(User.Url()) ?? WeavyContext.ApplicationPath;
    string embeddedBack = Url.Back<NotificationController>(c => c.Index());
}

@section navbar_left {
    <div class="navbar-icons">
        <a class="btn btn-icon d-embedded" href="@embeddedBack" data-link>@Svg.Icon("arrow-left")</a>
        <a class="btn btn-icon d-standalone" href="@Back" data-link>@Svg.Icon("arrow-left")</a>
    </div>
}


@section navbar_secondary {
    @Html.Partial("_Navbar", User)
}

<div class="container my-3">

    @using (Html.BeginForm(nameof(AccountController.UpdateAccount), typeof(AccountController).ControllerName(), FormMethod.Post, new { id = "update-account-form", autocomplete = "off", data_turboform = "", novalidate = "" })) {
        @Html.HttpMethodOverride(HttpVerbs.Put)
        @Html.AntiForgeryToken()
        @Html.EditorsForModel(Model)
        <div class="form-buttons">
            <button type="submit" class="btn btn-primary btn-load" title="Save">Save</button>
            <a href="@embeddedBack" class="d-embedded btn btn-outline-secondary mr-auto" data-link>Cancel</a>
            <a href="@Back" class="d-standalone btn btn-outline-secondary mr-auto" data-link>Cancel</a>
        </div>
    }

    @if (!ConfigurationService.WindowsAuthentication && User.Logins.Any()) {
        <table class="table">
            <thead>
                <tr>
                    <th>Linked logins</th>
                    <th>Account</th>
                    <th class="text-right">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Login login in User.Logins) {
                    <tr>
                        <td>@login.Type</td>
                        <td>@(login.Email ?? login.Sub)</td>
                        <td class="table-icon text-right">
                            @using (Html.BeginForm(nameof(AccountController.RemoveLogin), typeof(AccountController).ControllerName(), FormMethod.Post, new { data_turboform = true, novalidate = "" })) {
                                @Html.HttpMethodOverride(HttpVerbs.Delete)
                                @Html.Hidden(nameof(Login.Id), login.Id)
                                <button type="submit" class="btn btn-icon" title="Remove">@Svg.Icon("close")</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
