@model ProfileModel
@using Microsoft.Owin.Security
@{
    Title = User.GetTitle();
    Back = WeavyContext.ApplicationPath;
}

@section navbar_left {
    <div class="navbar-icons">
        <a class="btn btn-icon" href="@Back" data-link>@Svg.Icon("arrow-left")</a>
    </div>
}


@section navbar_secondary {
    @Html.Partial("_Navbar", User)
}

<div class="container my-3">

    @using (Html.BeginForm(nameof(AccountController.Update), typeof(AccountController).ControllerName(), FormMethod.Post, new { id = "update-account-form", autocomplete = "off", data_turboform = "", novalidate = "" })) {
        @Html.HttpMethodOverride(HttpVerbs.Put)

        <div class="text-center">
            @Html.EditorFor(x => Model.Avatar)
        </div>

        @Html.EditorFor(x => Model.Profile.Name)
        @Html.EditorFor(x => Model.Email)
        @Html.EditorFor(x => Model.Username)

        @Html.EditorsForModel(Model.Profile, exclude: new string[] { nameof(Model.Profile.Avatar), nameof(Model.Profile.Name) })

        <div class="form-buttons">
            <button type="submit" class="btn btn-primary btn-load" title="@T["Save"]">@T["Save"]</button>
            <a href="@Back" class="btn btn-outline-secondary mr-auto" data-link>@T["Cancel"]</a>
        </div>
    }

    @if (!ConfigurationService.WindowsAuthentication && User.Logins.Any()) {
        <table class="table table-name-desc">
            <thead>
                <tr>
                    <th class="table-icon"></th>
                    <th>@T["Linked logins"]</th>
                    <th>@T["Account"]</th>
                    <th class="table-icon"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Login login in User.Logins) {
                    <tr>
                        <td class="table-icon">@Svg.Icon("lock")</td>
                        <td>@login.Type</td>
                        <td>@(login.Email ?? login.Sub)</td>
                        <td class="table-icon text-right">
                            @using (Html.BeginForm(nameof(AccountController.RemoveLogin), typeof(AccountController).ControllerName(), FormMethod.Post, new { data_turboform = true, novalidate = "" })) {
                                @Html.HttpMethodOverride(HttpVerbs.Delete)
                                @Html.Hidden(nameof(Login.Id), login.Id)
                                <button type="submit" class="btn btn-icon" title="@T["Remove"]">@Svg.Icon("close")</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
