@model UserSettings
@{
    Title = "Edit profile";
    Back = Url.Back(User.Url()) ?? WeavyContext.ApplicationPath;
    string embeddedBack = Url.Back<NotificationController>(c => c.Index());
}

@section navbar_left {
    <div class="navbar-icons">
        <a class="btn btn-icon d-embedded" href="@embeddedBack" data-link>@Html.SvgIcon("arrow-left")</a>
        <a class="btn btn-icon d-standalone" href="@Back" data-link>@Html.SvgIcon("arrow-left")</a>
    </div>
}

@section navbar_secondary {
    @Html.Partial("_Navbar", User)
}

<div class="container my-3">
    @using (Html.BeginForm(nameof(AccountController.UpdateSettings), typeof(AccountController).ControllerName(), FormMethod.Post, new { id = "update-settings-form", autocomplete = "off", data_turboform = "", novalidate = "" })) {
        @Html.HttpMethodOverride(HttpVerbs.Put)
        @Html.AntiForgeryToken()
        
        <h5 class="mb-3">Date and time</h5>
        @Html.EditorsForModel(Model, group: "settings")
        <h5 class="mb-3">Notification settings</h5>
        @Html.EditorsForModel(Model, group: "notifications")
        <h5 class="mb-3">Notification delivery</h5>
        <div class="notification-alerts">
            <div class="alert alert-warning notification-required">We <a href="#" class="alert-link notification-required">need your permission</a> to enable desktop notifications in this browser.</div>
            <div class="alert alert-danger notification-denied">Desktop notifications have been disabled in this browser.</div>
            <div class="alert alert-info notification-missing">This browser does not support desktop notifications.</div>
        </div>
        @Html.EditorFor(model => model.DesktopNotifications)
        @Html.EditorsForModel(Model, group: "channel", exclude: new[] { "DesktopNotifications" })
        <div class="form-buttons">
            <button type="submit" class="btn btn-primary btn-load" title="Save">Save</button>
            <a href="@embeddedBack" class="d-embedded btn btn-outline-secondary mr-auto" data-link>Cancel</a>
            <a href="@Back" class="d-standalone btn btn-outline-secondary mr-auto" data-link>Cancel</a>
        </div>
    }
</div>
