@model Weavy.Web.Models.LinkLoginModel
@{
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
    Title = "Link login";
}
<div class="container mt-5">
    <div class="row justify-content-sm-center">
        <div class="col-sm-6">
            <div class="text-center mb-3">
                @Html.IconImg(48)
            </div>
            <h1 class="display-3">Link login</h1>
            <p>There is already a local account for <strong>@Model.Login.Email</strong> on @Theme.Name. To verify that you want to link your your <strong>@Model.Login.Type</strong> login to this account we need you to provide your password.</p>

            @using (Html.BeginForm(nameof(AccountController.LinkLogin), typeof(AccountController).ControllerName(), FormMethod.Post, new { data_turboform = true, novalidate = "" })) {
                @Html.AntiForgeryToken()
                @Html.EditorsForModel()
                <div class="form-buttons">
                    <button type="submit" class="btn btn-primary btn-load">Sign in</button>
                    @Html.ActionLink("Cancel", nameof(AccountController.SignIn), typeof(AccountController).ControllerName(), null, new { @class = "btn btn-outline-secondary" })
                </div>
            }
        </div>
    </div>
</div>
