@model PasswordModel
@{
    Title = User.GetTitle();
    Back = WeavyContext.ApplicationPath;
}

@section navbar_left {
    <div class="navbar-icons">
        <a class="btn btn-icon" href="@Back" data-link>@Svg.Icon("arrow-left")</a>
    </div>
}

@section navbar_secondary {
    @Html.Partial("_Navbar", User)
}


<div class="container my-3">
    @using (Html.BeginForm(nameof(AccountController.UpdatePassword), typeof(AccountController).ControllerName(), FormMethod.Post, new { id = "update-password-form", autocomplete = "off", data_turboform = "", novalidate = "" })) {
        @Html.HttpMethodOverride(HttpVerbs.Put)
        <fieldset>
            <legend>@T["Change password"]</legend>
            @Html.EditorsForModel(Model)
        </fieldset>
        <div class="form-buttons">
            <button type="submit" class="btn btn-primary btn-load" title="@T["Save"]">@T["Save"]</button>
            <a href="@Back" class="btn btn-outline-secondary mr-auto" data-link>@T["Cancel"]</a>
        </div>
    }
</div>
