@model PasswordRecoveryModel
@{
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
    Title = T["Password recovery"].ToString();
}
<div class="container mt-5">
    <div class="row justify-content-sm-center">
        <div class="col-sm-6">
            <div class="text-center mb-3">
                @Html.IconImg(48)
            </div>
            <h1 class="display-3">@Title</h1>

            @if (Model.User == null) {
                <p>@T["If you can’t sign in or have forgotten your password, enter your username or email below."]</p>

                using (Html.BeginForm(nameof(AccountController.RecoverPassword), typeof(AccountController).ControllerName(), FormMethod.Post, new { data_turboform = true, novalidate = "" })) {
                    @Html.EditorsForModel(labels: false, descriptions: false)
                    <div class="form-buttons">
                        <button type="submit" class="btn btn-primary btn-load">@T["Submit"]</button>                        
                        @(Html.ActionLink<AccountController>(c => c.SignIn(null), text: T["Cancel"], htmlAttributes: new { @class = "btn btn-outline-secondary" }))
                    </div>
                }
            } else {
                <p>@T["Password recovery email sent to <strong>{0}</strong>.", Model.User.Email]</p>
                <p class="text-muted">@T["If you don’t see this email in your inbox within 5 minutes, look for it in your spam folder. If you find it there, please mark it as <strong>not spam</strong>."]</p>
            }

        </div>
    </div>
</div>
