@model PasswordResetModel
@{
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
    Title = T["Reset password"].ToString();
}
<div class="container mt-5">
    <div class="row justify-content-sm-center">
        <div class="col-sm-6">
            <div class="text-center mb-3">
                @Html.IconImg(48)
            </div>
            <h1 class="display-3">@Title</h1>
            <p>@T["Select a new password in the form below."]</p>

            @using (Html.BeginForm(nameof(AccountController.ResetPassword), typeof(AccountController).ControllerName(), FormMethod.Post, new { data_turboform = true, novalidate = "" })) {
                @Html.EditorsForModel()
                <div class="form-buttons">
                    <button type="submit" class="btn btn-primary btn-load">@T["Set password"]</button>
                    @(Html.ActionLink<AccountController>(c => c.SignIn(null), text: T["Cancel"], htmlAttributes: new { @class = "btn btn-outline-secondary" }))
                </div>
            }
        </div>
    </div>
</div>
