@model UserSettings
@{
    Title = User.GetTitle();
    Back = WeavyContext.ApplicationPath;    
}

@section navbar_left {
    <div class="navbar-icons">
        <a class="btn btn-icon" href="@Back" data-link>@Svg.Icon("arrow-left")</a>
    </div>
}

@section navbar_secondary {
    @Html.Partial("_Navbar", User)
}

<div class="container my-3">
    @using (Html.BeginForm(nameof(AccountController.UpdateSettings), typeof(AccountController).ControllerName(), FormMethod.Post, new { id = "update-settings-form", autocomplete = "off", data_turboform = "", novalidate = "" })) {
        @Html.HttpMethodOverride(HttpVerbs.Put)

        <fieldset>
            <legend>@T["Regional settings"]</legend>
            @if (ConfigurationService.Languages.Count() > 1) {
            @Html.EditorsForModel(Model, group: "language")
            }
            @Html.EditorsForModel(Model, group: "region")
        </fieldset>
        <fieldset>
            <legend>@T["Notification settings"]</legend>
            @Html.EditorsForModel(Model, group: "notifications")
        </fieldset>
        <fieldset>
            <legend>@T["Notification delivery"]</legend>
            <div class="notification-alerts">
                <div class="alert alert-warning notification-required"><a href="#" class="alert-link notification-required">@T["We need your permission to enable desktop notifications in this browser."]</a> </div>
                <div class="alert alert-danger notification-denied">@T["Desktop notifications have been disabled in this browser."]</div>
                <div class="alert alert-info notification-missing">@T["This browser does not support desktop notifications."]</div>
            </div>
            @Html.EditorFor(model => model.DesktopNotifications)
            @Html.EditorsForModel(Model, group: "channel", exclude: new[] { "DesktopNotifications" })
        </fieldset>
       
        <div class="form-buttons">
            <button type="submit" class="btn btn-primary btn-load" title="@T["Save"]">@T["Save"]</button>
            <a href="@Back" class="btn btn-outline-secondary mr-auto" data-link>@T["Cancel"]</a>
        </div>
    }
</div>
