@using Microsoft.Owin.Security
@using Weavy.Web.Controllers
@model Weavy.Web.Models.SignInModel
@{
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
    Title = "Sign in";
}
<div class="container mt-5">
    <div class="row justify-content-sm-center">
        <div class="col-sm-8 col-md-6 col-lg-5">
            <div class="text-center mb-3">
                @Html.IconImg(96)
            </div>

            @using (Html.BeginForm(nameof(AccountController.SignIn), typeof(AccountController).ControllerName(), new { path = Model.Path }, FormMethod.Post, new { data_turboform = true, novalidate = "", data_weavy_event_notify = "signing-in" }))
            {
                <div class="form-group">
                    @if (Bootstrapper.Status == SystemStatus.Ok && Model.AllowSignUps)
                    {
                        @Html.ActionLink("Sign up", nameof(AccountController.SignUp), typeof(AccountController).ControllerName(), null, new { tabindex = "-1", @class = "float-right" })
                    }
                    @Html.EditorFor(x => x.Username, new { HideSurroundingHtml = true })
                </div>
                <div class="form-group">
                    @Html.ActionLink("Recover password", nameof(AccountController.RecoverPassword), typeof(AccountController).ControllerName(), null, new { tabindex = "-1", @class = "float-right" })
                    @Html.EditorFor(x => x.Password, new { HideSurroundingHtml = true })
                </div>
                <div class="form-buttons align-items-baseline">
                    @Html.EditorFor(x => x.RememberMe)
                    <button type="submit" class="btn btn-primary btn-load ml-auto">Sign in</button>
                </div>
            }

            @if (Model.AuthenticationTypes.Any())
            {
                <p class="text-center mt--3">&ndash; or &ndash;</p>

                <div class="d-embedded">
                    @using (Html.BeginForm(nameof(AccountController.SignInExternal), typeof(AccountController).ControllerName(), new { path = "/sign-in-embedded" }, FormMethod.Post, new { id = "embedded-providers", data_weavy_event_notify = "signing-in" }))
                    {
                        <div class="buttons text-center">
                            @foreach (AuthenticationDescription ad in Model.AuthenticationTypes)
                            {
                                <button type="submit" class="btn btn-primary mb-3 embedded-provider" id="@(ad.AuthenticationType)_embedded" name="provider" value="@ad.AuthenticationType">@Svg.Icon(ad.AuthenticationType) Sign in with @ad.Caption</button>
                            }
                        </div>
                    }
                </div>

                <div class="d-standalone">
                    @using (Html.BeginForm(nameof(AccountController.SignInExternal), typeof(AccountController).ControllerName(), new { path = ViewBag.Path }, FormMethod.Post))
                    {
                        <div class="buttons text-center">
                            @foreach (AuthenticationDescription ad in Model.AuthenticationTypes)
                            {
                                <button type="submit" class="btn btn-primary mb-3" id="@ad.AuthenticationType" name="provider" value="@ad.AuthenticationType">@Svg.Icon(ad.AuthenticationType) Sign in with @ad.Caption</button>
                            }
                        </div>
                    }
                </div>

            }
        </div>
    </div>
</div>

@if (ViewData.ModelState.Values.SelectMany(x => x.Errors).Any()) {
    <script>
        $(function () {
            var win = null;
            if (window.opener) {
                win = window.opener.parent;
            }
            wvy.postal.post({ name: "authentication-error" }, win, true);
        })
    </script>
}
