@model IPlugin
@{
    Title = Model.Name;
    Back = Url.Action<HomeController>(c => c.Index());

    var tabs = Model.GetGroups().Where(x => x != "Meta").ToList();
    if (Model.HasGroup(null)) {
        tabs.Insert(0, null);
    }
    string activetab = ViewData["tab"] as string ?? Request.QueryString["tab"];
    activetab = activetab?.Replace("tab-", "");

    if (activetab == null || !tabs.Any(t => activetab.Equals(t, StringComparison.OrdinalIgnoreCase))) {
        activetab = tabs[0].Slugify();
    }
}


@if (tabs.Count > 1) {
    @section navbar_secondary {
        <nav class="navbar navbar-theme">
            <nav class="nav nav-tabs" role="tablist">
                <a class="nav-link@(activetab == tabs[0].Slugify() ? " active":"")" href="#tab-@(tabs[0].Slugify())" data-toggle="tab" role="tab">@tabs[0]</a>
                @foreach (var tab in tabs.Skip(1)) {
                    <a class="nav-link@(activetab == tab.Slugify() ? " active":"")" href="#tab-@(tab.Slugify())" data-toggle="tab" role="tab">@tab</a>
                }
            </nav>
        </nav>
    }
}

<div class="container my-3">
    <form action="@(Url.Action<SettingsController>(c => c.Update(Model.Id, null)))" method="post" class="tab-content" enctype="application/x-www-form-urlencoded" autocomplete="off" data-turboform novalidate>
        @Html.HttpMethodOverride(HttpVerbs.Put)

        <fieldset class="tab-pane@(activetab == tabs[0].Slugify() ? " active":"")" id="tab-@(tabs[0].Slugify())" role="tabpanel">
            @Html.EditorsForModel(group: tabs[0])
        </fieldset>
        @foreach (var tab in tabs.Skip(1)) {
            <fieldset class="tab-pane@(activetab == tab.Slugify() ? " active":"")" id="tab-@(tab.Slugify())" role="tabpanel">
                @Html.EditorsForModel(group: tab)
            </fieldset>
        }
        <div class="form-buttons">
            <button type="submit" class="btn btn-primary btn-load" data-shortcut="Ctrl+Shift+S">@T["Save"]</button>
            <a href="@Back" class="btn btn-outline-secondary" data-shortcut="Esc">@T["Cancel"]</a>
        </div>
    </form>
</div>
