@model IEnumerable<IDaemon>
@{
    Title = T["Daemons"].ToString();
    Back = Url.Action<ManageController>(c => c.Index());
}



@if (Model.HasItems()) {
    <table class="table table-hover table-daemons">
        <thead>
            <tr>
                <th class="table-icon"></th>
                <th>@T["Name"]</th>
                <th>@T["Last run"]</th>
                <th>@T["Next run"]</th>
                <th>@T["Schedule (UTC)"]</th>
                <th class="table-icon"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var daemon in Model) {
                <tr @(Html.Raw(daemon.Status() == "Failed" ? @"class=""table-danger""" : !daemon.IsLoaded() ? @"class=""table-warning""" : !daemon.IsEnabled ? @"class=""table-muted""" : "")) data-href="@(Url.Action<DaemonsController>(c => c.Get(daemon.Id)))">
                    <td class="table-icon"><a class="btn btn-icon" href="@(Url.Action<DaemonsController>(c => c.Get(daemon.Id)))">@Svg.Icon(daemon.Icon, daemon.Color)</a></td>
                    <td><a href="@(Url.Action<DaemonsController>(c => c.Get(daemon.Id)))">@daemon.Name</a></td>
                    <td>@Html.Time(daemon.FinishedAt)</td>
                    <td>@(daemon.NextRun() != null ? Html.Time(daemon.NextRun(), daemon.NextRun().Value >= DateTime.UtcNow ? null : T["Now"].ToString()) : null)</td>
                    <td title="@daemon.Schedule">@(daemon.Crontab != null ? Weavy.Core.Cron.ExpressionDescriptor.GetDescription(daemon.Schedule) : null)</td>
                    <td class="table-icon">
                        @if (!daemon.IsLoaded()) {
                            using (Html.BeginForm(nameof(DaemonsController.Delete), null, new { id = daemon.Id.ToString() }, FormMethod.Post, new { data_turboform = "" })) {
                                @Html.HttpMethodOverride(HttpVerbs.Delete);
                                <button type="submit" class="btn btn-icon btn-danger" title="@T["Delete"]">@Svg.Icon("close")</button>
                            }
                        } else if (daemon.IsRunning()) {
                            <button type="button" class="btn btn-icon btn-muted" title="@T["Running"]" disabled>@Svg.Icon("play")</button>
                        } else if (daemon.IsRunnable()) {
                            <form action="@(Url.Action<DaemonsController>(c => c.Run(daemon.Id)))" method="post" data-turboform>
                                <button type="submit" class="btn btn-icon btn-primary" title="@T["Run now"]">@Svg.Icon("play")</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

