@model IEnumerable<Attachment>
@{
    var parent = ViewBag.Parent as IEntity;
    var blobs = ViewBag.Blobs as IEnumerable<Blob>;
}
<div class="list-group file-list">
    @if (blobs != null && blobs.Any()) {
        foreach (var blob in blobs) {
            Html.RenderPartial("_Blob", blob);
        }
    }

    @foreach (var attachment in Model) {
        var attrs = Html.PreviewAttributes(attachment);
        <a class="list-group-item list-group-item-action" href="@attachment.DownloadUrl()" @Html.Attributes(attrs)>
            <div class="media">
                @if (attachment.Blob.Link == null && FileUtils.IsWebImage(attachment.Blob.Name)) {
                    <img class="img-48" src="@attachment.ThumbUrl(48, 48, fit: FitMode.Crop)" />
                } else {
                    @Svg.Icon(attachment, size: 48)
                }
                <div class="media-body">
                    <h6 class="media-title">
                        @attachment.Blob.Name
                        @if (attachment.Blob.Link != null && attachment.Blob.Embed == null) {
                            @Svg.Icon("open-in-new", "icon", 18)
                        }
                    </h6>
                    <small class="text-muted">
                        @if (FileUtils.IsImage(attachment.Blob.Name) &&  (attachment.Blob.Width != null && attachment.Blob.Height != null)) {
                            <text>@(attachment.Blob.Width)x@(attachment.Blob.Height) ·</text>
                        }
                        @if (attachment.Blob.Size > 0) {
                            <text>@(FileUtils.FileSizeAsString(attachment.Blob.Size))</text>
                            if (attachment.Blob.Provider != null) {
                                <text> -</text>
                            }
                        }
                        @if (attachment.Blob.Provider != null) {
                            <text>@attachment.Kind() @T["from"] @attachment.Blob.Provider</text>
                        }
                    </small>
                </div>

                @if (parent != null && parent.Type == EntityType.Content) {
                    <div class="media-icons">
                        @Html.Partial("_AttachmentMenu", attachment)
                    </div>
                }
            </div>
        </a>
    }
</div>
