@model IEnumerable<Comment>

@foreach (var comment in Model) {
    var creator = comment.CreatedBy();
    var attachments = comment.AttachmentIds.Any() ? comment.Attachments() : new List<Weavy.Core.Models.Attachment>();
    var images = attachments.Where(x => FileUtils.IsImage(x.Blob.Name) && x.ThumbPlaceholderUrl() != null);
    var files = attachments.Except(images);
    var meetings = comment.MeetingIds.Any() ? comment.Meetings() : new List<Meeting>();

    <div id="comment-@comment.Id" class="list-group-item comment" data-comment-id="@comment.Id" data-parent-id="@comment.Parent.Id" data-parent-entity="@comment.Parent.Type.ToString().ToLower()">
        <div class="media">
            @creator.AvatarLink(32, htmlAttributes: new { @class = "mr-2" })
            <div class="media-body">
                <div class="comment-body">@creator.Link() @Html.Raw(comment.Html)</div>

                @if (images.Any()) {
                    Html.RenderPartial("_ImageGrid", images, new ViewDataDictionary { { "Parent", comment } });
                }

                @if (files.Any()) {
                    Html.RenderPartial("_Attachments", files, new ViewDataDictionary { { "Parent", comment } });
                }

                @if (meetings.Any()) {
                    <div class="card-meetings">
                        @{ Html.RenderPartial("_Meetings", meetings, new ViewDataDictionary { { "Parent", comment } }); }
                    </div>
                }

                <div class="text-muted">
                    @Html.Time(comment.CreatedAt)
                    @if (comment.ModifiedAt != comment.CreatedAt) {<text>&middot;</text> @Html.Time(comment.ModifiedAt, @"e\di\te\d")}
                    <span class="comment-feedback">
                        @{ Html.RenderPartial("_CommentFeedback", comment); }
                    </span>
                </div>

            </div>
            <div class="media-icons">
                @Html.StarToggle(comment)
                @{ Html.RenderPartial("_CommentMenu", comment); }
            </div>
        </div>

    </div>
}
