<aside id="drawer-profile" class="drawer drawer-left">
    <header class="drawer-header">
        <a class="text-center pt-3 pb-2" href="@(Url.Action<NotificationController>(c => c.Index()))" title="@User.GetTitle() Home">
            @User.AvatarImg(64)
            <div class="drawer-title px-1"><span>@User.GetTitle() <small>@@@User.Username</small></span></div>
        </a>
    </header>
    <div class="drawer-body scroll-y">
        <nav class="nav flex-column">
            <a class="dropdown-item" href="@(Url.Action<AccountController>(c => c.EditProfile()))">@Svg.Icon("pencil") Edit profile</a>
            <a class="dropdown-item" href="@(Url.Action<AccountController>(c => c.EditSettings()))">@Svg.Icon("format-list-checks") Settings</a>
            <a class="dropdown-item" href="@(Url.Action<AccountController>(c => c.EditAccount()))">@Svg.Icon("account-network") Account details</a>
            @if (!ConfigurationService.WindowsAuthentication) {
                <a class="dropdown-item" href="@(Url.Action<AccountController>(c => c.EditPassword()))">@Svg.Icon("account-key") Change password</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="@(Url.Action<AccountController>(c => c.SignOut("/notify")))" title="Sign out" data-weavy-event data-weavy-name="signing-out">@Svg.Icon("logout") Sign out</a>
            }
        </nav>
    </div>
</aside>
