@{ 
    BodyAttributes.Add("class", "body-dark");
}
<!DOCTYPE html>
<html @RenderHtmlAttributes()>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, maximum-scale=1, user-scalable=no"> @* Viewport must contain width=device-width, minimum-scale=1.0 to trigger GPU Rasterization https://www.chromium.org/developers/design-documents/chromium-graphics/how-to-get-gpu-rasterization *@
    <meta name="turbolinks-cache-control" content="no-preview">
    <title>@Html.Title(Title)</title>
    @Html.ThemeHead()
    @Html.ThemeStyle("~/styles/weavy.scss", htmlAttributes: new { data_turbolinks_track = "reload" })
    @RenderSection("styles", required: false)
    <script data-turbolinks-track="reload">var wvy=wvy||{};@Html.BrowserInfo()@Html.ConfigurationSettings()</script>
    @Bundler.Scripts("~/scripts/asap.bundle", htmlAttributes: new { data_turbolinks_track = "reload" })
    @if (WeavyContext.Browser.Browser == "IE") {
        @Bundler.Scripts("~/scripts/ie.bundle", htmlAttributes: new { data_turbolinks_track = "reload" })
    }
    @Bundler.Scripts("~/scripts/wvy.bundle", htmlAttributes: new { data_turbolinks_track = "reload", defer = "" })
    @RenderSection("scripts", required: false)
</head>
<body @RenderBodyAttributes()>
    <script>@Html.ContextInfo()@Html.UserSettings()</script>
    <div class="alerts">@Html.AlertMessages()</div>
    <main role="main">
        @RenderBody()
    </main>
    @Html.Partial("_ScrollbarsInit")
    @Html.Scripts()
</body>
</html>
