@{ 
    bool navbar = Back != null || IsSectionDefined("navbar_left") || IsSectionDefined("navbar_middle") || IsSectionDefined("navbar_right");
    if (navbar || IsSectionDefined("navbar_tertiary")) {
        BodyAttributes.Add("class", "has-navbar");
    }
}
<!DOCTYPE html>
<html @RenderHtmlAttributes()>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, maximum-scale=1, user-scalable=no"> @* Viewport must contain width=device-width, minimum-scale=1.0 to trigger GPU Rasterization https://www.chromium.org/developers/design-documents/chromium-graphics/how-to-get-gpu-rasterization *@
    <meta name="turbolinks-cache-control" content="no-preview">
    <title>@Html.Title(Title)</title>
    @Html.ThemeHead()
    @Html.ThemeStyle("~/styles/weavy.scss", htmlAttributes: new { data_turbolinks_track = "reload" })
    @RenderSection("styles", required: false)
    <script data-turbolinks-track="reload">var wvy=wvy||{};@Html.BrowserInfo()@Html.ConfigurationSettings()</script>
    @if (WeavyContext.Browser.Browser == "IE") {
        @Bundler.Scripts("~/scripts/ie.bundle", htmlAttributes: new { data_turbolinks_track = "reload" })
    }
    @Bundler.Scripts($"~/scripts/resources/resources.{CultureInfo.CurrentUICulture.TwoLetterISOLanguageName}.js", htmlAttributes: new { data_turbolinks_track = "reload" })
    @Bundler.Scripts("~/scripts/asap.bundle", htmlAttributes: new { data_turbolinks_track = "reload" })
    @Bundler.Scripts("~/scripts/wvy.bundle", htmlAttributes: new { data_turbolinks_track = "reload", defer = "" })
    @RenderSection("scripts", required: false)
</head>
<body @RenderBodyAttributes()>
    <script>@Html.ContextInfo()@Html.UserSettings()</script>
    @if (navbar) {
        <div class="navbars fixed-top">
            <nav class="navbar navbar-light">
                @if (IsSectionDefined("navbar_left")) {
                    @RenderSection("navbar_left", required: false)
                } else {
                    <div class="navbar-icons">
                        @if (Back != null) {<a class="btn btn-icon" href="@Back" data-link>@Svg.Icon("arrow-left")</a>}
                    </div>
                }
                @if (IsSectionDefined("navbar_middle")) {
                    @RenderSection("navbar_middle", required: false)
                } else {
                    <div class="navbar-middle"><span class="navbar-text">@Title</span></div>
                }
                @if (IsSectionDefined("navbar_right")) {
                    @RenderSection("navbar_right", required: false)
                } else {
                    <div class="navbar-icons"></div>
                }
            </nav>
        </div>
    } else if (IsSectionDefined("navbar_tertiary")) {
        <div class="navbars fixed-top">
            @RenderSection("navbar_tertiary")
        </div>
    }

    <div class="alerts">@Html.AlertMessages()</div>
    <main @if (IsSectionDefined("fab")) { <text> class="has-fab" </text> }>
        @RenderBody()
        @RenderSection("fab", required: false)
    </main>
    @{
        Html.RenderPartial("_ScrollbarsInit");
        Html.RenderPartial("_AjaxModal");
        Html.RenderPartial("_ProfileModal");
        @RenderSection("footer", required: false)
    }   
    <audio id="notification-sound" src="~/media/notification.mp3" preload="none"></audio>
    <iframe id="filebrowser" src="about:blank" style="display:none;width:100%;height:100%;z-index:99999999;position:fixed;top:0;left:0;border:0;"></iframe>
    @Html.Scripts()
</body>
</html>
