@model  Meeting

<div class="list-group-item list-group-item-action" data-type="meeting">
    <div class="media">
        @Svg.Icon("microsoft-teams", color: "native", size: 48)
        <div class="media-body">
            <h6 class="media-title">@T["Teams meeting"]</h6>
            @if (Model.EndedAt != null) {
                <small class="text-muted">@T["Meeting ended"]: @Html.Time(Model.EndedAt, "t")</small>
            } else if (Model.CreatedById == WeavyContext.User.Id) {
                <p class="mb-1"><a href="@Model.JoinUrl" target="_blank" class="btn btn-sm btn-primary mt-2">@T["Start meeting"]</a></p>
            } else {
                <p class="mb-1"><a href="@Model.JoinUrl" target="_blank" class="btn btn-sm btn-primary mt-2">@T["Join meeting"]</a></p>
            }
        </div>
    </div>
</div>
