@model PartialMeetingModel

<tr class="blob" data-meeting-provider="zoom">
    <td class="table-icon">
        @Svg.Icon("zoom", color: "native")
    </td>
    <td>
        @T["Zoom meeting"]
        @if (Model.Meeting != null) {
            <a href="javascript:;" data-meeting-sign-out="zoom">(@T["Sign out"])</a>
        } else {
            <a href="javascript:;" class="btnZoomAuthentication" data-meeting-authenticated="0" data-meeting-guid="@Model.Guid">(@T["Sign in"])</a>
        }
        <input type="hidden" name="meetings" value="@(Model.Meeting?.Id ?? -1)">
    </td>
    <td class="table-icon"><button type="button" class="btn btn-icon" data-action="remove-meeting">@Svg.Icon("close")</button></td>
</tr>

