@{
    var navtitle = WeavyContext.Space?.Name ?? Title;
    if (WeavyContext.Space != null) {
        EntityService.Visit(WeavyContext.Space);
    }
    var visited = SpaceService.GetVisited(4);
}

<div class="navbar-middle d-framed">
    @Html.StarToggle(WeavyContext.Space)
    <a href="@(WeavyContext.Space?.Url() ?? Url.Action<HomeController>(c => c.Index()))" class="navbar-text">
        @navtitle
        @if (WeavyContext.Space?.Teamname != null) {
            <small class="d-none d-sm-inline">@@@WeavyContext.Space.Teamname</small>
        }
    </a>
</div>

<div class="navbar-middle d-standalone">
    <div class="dropdown navbar-menu dropdown-backdrop">
        @Html.StarToggle(WeavyContext.Space)
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="navbar-text">@navtitle</span>
            @Svg.Icon("menu-down")
        </button>
        <div class="dropdown-menu">
            <div class="dropdown-header">
                @Html.StarToggle(WeavyContext.Space)
                <div class="dropdown">
                    <span class="navbar-text">@navtitle</span>
                    @Svg.Icon("menu-up")
                </div>
            </div>
            <a class="dropdown-item@(ActionName == nameof(HomeController.Index) && ControllerName == typeof(HomeController).ControllerName() && AreaName.IsNullOrEmpty() ? " active" : "")" href="@(Url.Action<HomeController>(c => c.Index()))">
                @Html.IconImg(24)<span>Start</span>
            </a>
            
            <div class="active-spaces">
                @foreach (var space in visited) {
                    <a href="@space.Url()" class="dropdown-item@(space.Id == WeavyContext.Space?.Id ? " active" : "")">
                        @space.AvatarImg(24)<span>@space.Name @if (space.Teamname != null) {<small class="text-muted">@@@space.Teamname</small>}</span>
                    </a>
                }
            </div>

            @(Html.ActionLink<SpaceController>(c => c.Index(null, null), icon: "view-grid", color: "primary", text: "Spaces", htmlAttributes: new { @class = "dropdown-item spaces" }, active: LinkActive.Action))

            @(Html.ActionLink<PeopleController>(c => c.Index(null, null), icon: "account-multiple", color: "primary", text: "People", htmlAttributes: new { @class = "dropdown-item" }, active: LinkActive.Controller))

            @if (WeavyContext.Browser.Desktop) {
            <a class="dropdown-item" href="@(Url.Action<Weavy.Areas.Apps.Controllers.MessengerController>(c => c.Index(null)))" target="_blank" title="Open Messenger">
                @Svg.Icon("message-text", color: "primary")
                <span>Messenger</span>
                @Svg.Icon("open-in-new", size: 18, htmlAttributes: new { @class = "mr--1" })
            </a>
            }

        </div>
    </div>
</div>
