@model Post
@{
    bool details = ViewData["details"] as bool? ?? false;
}
<div class="dropdown">
    <button type="button" class="btn btn-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="@T["Toggle Dropdown"]">
        @if (Model.IsPinned() && !details) {
            @Svg.Icon("pin")
        } else {
            @Svg.Icon("dots-vertical")
        }
    </button>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="@Model.Url()">@Svg.Icon("information", "info") @T["Details"]</a>
        <div class="dropdown-divider"></div>
        @if (!details && Model.HasPermission(Permission.Pin)) {
            if (Model.IsPinned()) {
                <form action="@(Url.Action<PostController>(c => c.Unpin(Model.Id)))" method="post" data-turboform>
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button type="submit" class="dropdown-item">@Svg.Icon("pin-off") @T["Unpin"]</button>
                </form>
            } else {
                <form action="@(Url.Action<PostController>(c => c.Pin(Model.Id)))" method="post" data-turboform>
                    <button type="submit" class="dropdown-item">@Svg.Icon("pin") @T["Pin"]</button>
                </form>
            }
        }

        @Html.StarToggle(Model, compact: false, htmlAttributes: new { @class = "dropdown-item toggle-dropdown" })

        @Html.SubscribeToggle(Model, new { @class = "dropdown-item toggle-dropdown" })

        @if (Model.HasPermission(Permission.Edit)) {
            <button class="dropdown-item" type="button" data-toggle="modal" data-target="#edit-post-modal" data-path="@(Url.Action<PostController>(c => c.EditModal(Model.Id)))" title="@T["Edit post"]">@Svg.Icon("pencil", "primary") @T["Edit"]</button>
            //don't show move if embedded
            if (!IsEmbedded) {
                <button class="dropdown-item" type="button" data-toggle="modal" data-target="#move-post-modal" data-path="@(Url.Action<PostController>(c => c.MoveModal(Model.Id)))" title="@T["Move post"]">@Svg.Icon("undo", "warning") @T["Move"]</button>
            }
        }
        @if (Model.HasPermission(Permission.Delete)) {
            <button type="button" class="dropdown-item" data-trash="post" data-id="@Model.Id">@Svg.Icon("delete", "danger") @T["Trash"]</button>
        }
    </div>
</div>
