@model Post

@{
    bool details = ViewData["details"] as bool? ?? false;
    var creator = Model.CreatedBy();
    var attachments = Model.AttachmentIds.Any() ? Model.Attachments() : new List<Attachment>();
    var images = attachments.Where(x => FileUtils.IsImage(x.Blob.Name) && x.ThumbPlaceholderUrl() != null);
    var files = attachments.Except(images);
    var meetings = Model.MeetingIds.Any() ? Model.Meetings() : new List<Meeting>();
    var embeds = Model.EmbedIds.Any() ? Model.Embeds() : new List<Embed>();
    var embed = embeds.FirstOrDefault(x => !x.IsLink);
}
<div class="card post" data-type="post" data-id="@Model.Id" data-post-id="@Model.Id">

    <div class="card-header media">
        @creator.AvatarLink(48, htmlAttributes: new { @class = "mr-2" })
        <div class="media-body">
            <h6 class="media-title">@creator.Link() <small>@@@creator.Username</small></h6>
            <small class="text-muted">
                @Html.Time(Model.CreatedAt)
                @if (Model.ModifiedAt != Model.CreatedAt) {<text>&middot;</text> @Html.Time(Model.ModifiedAt, text: T["edited"].ToString())}
            </small>
        </div>
        <div class="media-icons">
            @Html.StarToggle(Model)
            @{ Html.RenderPartial("_PostMenu", Model, new ViewDataDictionary() { { "details", details } }); }
        </div>
    </div>

    @if (images.Any()) {
        <div class="card-images">
            @{ Html.RenderPartial("_ImageGrid", images, new ViewDataDictionary { { "Parent", Model } }); }
        </div>
    }

    @if (embed != null) {
        <div class="card-embeds">
            @{ Html.RenderPartial("_Embed", embed); }
        </div>
    }

    @if (!Model.Html.IsNullOrEmpty()) {
        <div class="card-body">
            @Html.Raw(Model.Html)
        </div>
    }

    @if (Model.Poll != null) {
        <div class="card-poll">
            @{ Html.RenderPartial("_Poll", Model); }
        </div>
    }

    @if (files.Any()) {
        <div class="card-files">
            @{ Html.RenderPartial("_Attachments", files, new ViewDataDictionary { { "Parent", Model } }); }
        </div>
    }

    @if (meetings.Any()) {
        <div class="card-meetings">
            @{ Html.RenderPartial("_Meetings", meetings, new ViewDataDictionary { { "Parent", Model } }); }
        </div>
    }

    <div class="card-feedback">
        @{ Html.RenderPartial("_PostFeedback", Model); }
    </div>

    <div class="section-comments post-comments@(details ? "":" d-none")">
        @if (details) {
            <div class="list-group comments">
                @{Html.RenderPartial("_Comments", Model.CommentIds.Any() ? Model.Comments() : new List<Comment>(), new ViewDataDictionary { { "Parent", Model } }); }
            </div>
        } else {
            @Svg.Spinner()
            <div class="list-group comments"></div>
        }
        @Html.Partial("_CommentForm", Model, new ViewDataDictionary() { { "container", ".comments" } })
    </div>

</div>

