@model Post
@if (Model.IsLiked()) {
    <a class="btn btn-primary btn-icon" href="@Model.Url()/like" title="@T["Unlike"]" data-post-unlike="@Model.Id">@Svg.Icon("thumb-up", size: 18)</a>
} else {
    <a class="btn btn-primary btn-icon" href="@Model.Url()/like" title="@T["Like"]" data-post-like="@Model.Id">@Svg.Icon("thumb-up-outline", size: 18)</a>
}
@if (Model.CommentIds.Any()) {
    <a class="btn btn-primary btn-icon mr-auto" href="@Model.Url()/comments" data-toggle="comments" title="@T["Comment"]">@Svg.Icon("comment", size: 18)</a>
} else {
    <a class="btn btn-primary btn-icon mr-auto" href="@Model.Url()/comments" data-toggle="comments" title="@T["Comment"]">@Svg.Icon("comment-outline", size: 18)</a>
}

@if (Model.LikedByIds.Any()) {
    <a class="likes" href="@Model.Url()/likes" data-toggle="modal" data-target="#feedback-modal" data-path="/posts/@Model.Id/likes" data-modal-title="@T["Post liked by"]" title="@T["Show likes"]">
        @T[Model.LikedByIds.Count(), "{0} like"]
    </a>
}
@if (Model.CommentIds.Any()) {
<a class="comments" href="@Model.Url()/comments" data-toggle="comments" title="@T["Toggle comments"]">
    @T[Model.CommentIds.Count(), "{0} comment"]    
</a>
}
