@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;

@if (WeavyContext.Space.HasPermission(Permission.List)) {
    var apps = AppService.GetApps(WeavyContext.Space.Id).ToList();

    string sortableOptions = new {
        items = ".nav-link",
        forcePlaceholderSize = true,
        sortField = "input[type=hidden]",
        ajaxPost = Url.Action(nameof(AppController.Sort), typeof(AppController).ControllerName(), new { id = WeavyContext.Space.Id })
    }.SerializeToJson(Formatting.None, new JsonSerializerSettings { ContractResolver = new CamelCasePropertyNamesContractResolver() });

    <nav class="nav nav-tabs" data-sortable="@sortableOptions">
        @for (int i = 0; i < apps.Count(); i++) {
            var app = apps[i];
            if (app.Id == WeavyContext.App?.Id) {
                <a href="@app.Url()" class="nav-link active" title="@(app.MetaData()?.Name)">
                    <span>@app.Name</span>
                    @Html.HiddenFor(x => apps[i].Id)
                </a>
            } else {
                <a href="@app.Url()" class="nav-link" title="@(app.MetaData()?.Name)">
                    <span>@app.Name</span>
                    @Html.HiddenFor(x => apps[i].Id)
                </a>
            }
        }

        @if (WeavyContext.App != null) {
            <div class="ml-auto my-2 px-1">
                @Html.Partial("_AppMenu", WeavyContext.App)
            </div>
        } else if (WeavyContext.Space.HasPermission(Permission.Apps)) {
            <a href="@(Url.Action<AppController>(c => c.Add(WeavyContext.Space.Id)))" class="nav-link" data-toggle="modal" data-target="#ajax-modal" data-path="@(Url.Action<AppController>(c => c.Add(WeavyContext.Space.Id)))" data-title="Add tab" title="Add tab">@Html.SvgIcon("plus") <span>Add tab</span></a>
        }


    </nav>
}
