@model SearchResult<Space, SpaceQuery>


@if (Model.Any()) {
    foreach (var space in Model) {
        bool visible = !space.IsTrashed() && space.HasPermission(Permission.View);
        <tr class="@(space.IsArchived() ? "table-archived" : "") @(space.IsTrashed() ? "table-trashed" : "")" @Html.Raw(visible ? $@"data-href=""{space.Url()}""" : "")>
            <td class="table-icon">@space.AvatarImg(32)</td>
            <td class="py-2 align-middle">
              <div class="d-flex align-items-center">
                <div class="text-truncate">
                  @if (visible) {
                    <a href="@space.Url()">@space.Name</a>
                  } else {
                    @space.Name
                  }
                  @if (space.Teamname != null) {<small class="text-muted">@@@space.Teamname</small>}
                </div>
                @Html.StarToggle(space, htmlAttributes: new { @class = "flex-noscale" })
                @if (space.IsHQ) {
                  <span class="badge badge-info m-1 flex-noscale">main</span>
                } else if (space.Privacy != Privacy.Open) {
                  <span class="m-1 flex-noscale">@Html.Badge(space.Privacy)</span>
                }
              </div>
            </td>
            <td>@space.Description</td>
            <td class="text-right">
                @if (visible) {
                    <a href="@(Url.Action<SpaceController>(c => c.Members(space.Id, null, null)))" class="badge @(space.IsMember ? "badge-info" : "badge-secondary")">@space.MemberIds.Count()</a>
                } else {
                    <span class="badge badge-secondary opacity-muted">@space.MemberIds.Count()</span>
                }
            </td>
            <td class="table-icon">@{ Html.RenderPartial("_SpaceMenu", space);}</td>
        </tr>
    }
    <tr class="scroll-next d-none" data-next="@Url.ScrollNext(Model)">
        <td colspan="4"></td>
    </tr>
}

