@model SpaceSearchResult

@if (Model.Any()) {
    foreach (var space in Model) {
        bool visible = space.IsMember && !space.IsTrashed();
        <tr class="@(space.IsTrashed() ? "table-trashed" : "") @(visible ? "" : "table-muted") " @Html.Raw(visible ? $@"data-href=""{space.Url()}""" : "")>
            <td class="table-icon">@space.AvatarImg(32)</td>
            <td>
                @if (visible) {
                    <a href="@space.Url()">@space.Name</a>
                } else {
                    @space.Name
                }
                @if (space.Teamname != null) {<small class="text-muted">@@@space.Teamname</small>}
                @Html.StarToggle(space)
            </td>
            <td>@space.Description</td>
            <td>
                <span class="badge @(space.IsMember ? "badge-info" : "badge-secondary")">@space.MemberIds.Count()</span>
            </td>
            <td class="table-icon">@{ Html.RenderPartial("_SpaceMenu", space);}</td>
        </tr>
    }
    <tr class="scroll-next" data-next="@Url.ScrollNext(Model)">
        <td colspan="4"></td>
    </tr>
}

