@model UserSearchResult

@if (Model.Any()) {
    foreach (var user in Model) {
        <tr class="@($"{(user.IsTrashed() ? "table-trashed" : "")} {(user.IsSuspended ? "table-muted": "")}")" @Html.Raw(user.IsTrashed() ? "" : $@"data-href=""{ user.Url()}""") data-type="user" data-id="@user.Id" data-modal>
            <td class="table-icon">@user.AvatarImg(32, presence: true)</td>
            <td>
                @if (user.IsTrashed()) {
                    if (user.Username != user.GetTitle()) {
                        <text>@user.GetTitle()</text>
                    }
                    <small class="text-muted">@@@user.Username</small>
                } else {
                    if (user.Username == user.GetTitle()) {
                        <a href="@user.Url()"><small class="text-muted">@@@user.Username</small></a>
                    } else {
                        <a href="@user.Url()">@user.GetTitle()</a> <small class="text-muted">@@@user.Username</small>
                    }
                }
                @Html.Badge(user)
                @Html.Shield(user)
            </td>
            <td>@user.Email</td>
            <td class="table-icon">@{ Html.RenderPartial("_UserMenu", user);}</td>
        </tr>
    }

    <tr class="scroll-next" data-next="@Url.ScrollNext(Model)">
        <td colspan="4"></td>
    </tr>
}

