@model App
@{
    var htmlAttributes = new Dictionary<string, object>() { { "autocomplete", "off" }, { "novalidate", "" } };
    if (ViewData["turboform"] != null) {
        htmlAttributes.Add("data-turboform", "");
    }
}

@using (Html.BeginForm(nameof(AppController.Update), typeof(AppController).ControllerName(), new RouteValueDictionary(new { id = Model.Id }), FormMethod.Post, htmlAttributes)) {
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.EditorsForModel()

    <div class="form-buttons">
        <button type="submit" class="btn btn-primary" name="operation" value="update">@T["Update"]</button>
        <a class="btn btn-outline-secondary" href="@Back" data-dismiss="modal">@T["Cancel"]</a>
</div>
}
