@model AboutModel
@{
    Title = $"{T["About"].ToString()} {ConfigurationService.ApplicationName}";
    Back = Url.Action<ManageController>(c => c.Index());
}

<div class="container-fluid my-3">

    <div class="cover py-2">
        <div class="text-center">
            @Html.IconImg(128)
            <div class="pt-3">@T["{0} v{1} was put together with help from the following awesome open source projects.", @ConfigurationService.ApplicationName, Model.Version]</div>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>@T["Name"]</th>
                <th class="text-right" style="width:175px;">@T["License"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var proj in Model.Projects) {
                <tr data-href="@proj.Url">
                    <td><a href="@proj.Url" target="_blank"><span>@proj.Name</span>@Svg.Icon("open-in-new", size: 18, htmlAttributes: new { @class = "ml-1" })</a></td>
                    <td class="text-right"><a href="@proj.LicenseUrl" target="_blank">@proj.License</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
