@using Weavy.Web.Owin;

@{
    Title = T["Manage"].ToString();
}

@section navbar_middle {
    @Html.Partial("_NavbarMenu")
}



@if (!Request.GetOwinContext().IsWebSocketsEnabled()) {
    <div class="alert alert-warning" role="alert">
        @T["We recommend enabling WebSockets on the server for the best possible experience."]
    </div>
}

<table class="table table-hover table-name-desc">
    <thead>
        <tr>
            <th class="table-icon"></th>
            <th>@T["Name"]</th>
            <th>@T["Description"]</th>
        </tr>
    </thead>
    <tbody>
        <tr data-href="@(Url.Action<ManageController>(x => x.About()))">
            <td class="table-icon">@Svg.Icon("information-outline", "primary")</td>
            <td><a href="@(Url.Action<ManageController>(x => x.About()))">@T["About"]</a></td>
            <td>@T["About"] @ConfigurationService.ApplicationName v@(Bootstrapper.SemVer).</td>
        </tr>
        <tr data-href="@(Url.Action<ClientController>(x => x.Index(null, null)))">
            <td class="table-icon">@Svg.Icon("access-point", "primary")</td>
            <td><a href="@(Url.Action<ClientController>(x => x.Index(null, null)))">@T["Clients"]</a></td>
            <td>@T["Manage API clients."]</td>
        </tr>
        <tr data-href="@(Url.Action<DaemonsController>(x => x.Index()))">
            <td class="table-icon">@Svg.Icon("clock")</td>
            <td><a href="@(Url.Action<DaemonsController>(x => x.Index()))">@T["Daemons"]</a></td>
            <td>@T["Schedule and run background jobs."]</td>
        </tr>
        <tr data-href="@(Url.Action<DirectoriesController>(x => x.Index(null)))">
            <td class="table-icon">@Svg.Icon("account-box-multiple", "primary")</td>
            <td><a href="@(Url.Action<DirectoriesController>(x => x.Index(null)))">@T["Directories"]</a></td>
            <td>@T["Manage user directories."]</td>
        </tr>
        <tr data-href="@(Url.Action<HooksController>(x => x.Index()))">
            <td class="table-icon">@Svg.Icon("webhook")</td>
            <td><a href="@(Url.Action<HooksController>(x => x.Index()))">@T["Hooks"]</a></td>
            <td>@T["Manage hooks."]</td>
        </tr>
        <tr data-href="@(Url.Action<ManageController>(x => x.License()))">
            <td class="table-icon">@Svg.Icon("certificate", "amber")</td>
            <td><a href="@(Url.Action<ManageController>(x => x.License()))">@T["License"]</a></td>
            <td>@T["Manage your license."]</td>
        </tr>
        <tr data-href="@(Url.Action<LogsController>(x => x.Index()))">
            <td class="table-icon">@Svg.Icon("file-document", "primary")</td>
            <td><a href="@(Url.Action<LogsController>(x => x.Index()))">@T["Log files"]</a></td>
            <td>@T["View and download log files."]</td>
        </tr>
        <tr data-href="@(Url.Action<RolesController>(x => x.Index(null)))">
            <td class="table-icon">@Svg.Icon("account-multiple", "primary")</td>
            <td><a href="@(Url.Action<RolesController>(x => x.Index(null)))">@T["Roles"]</a></td>
            <td>@T["Manage security roles for authorization."]</td>
        </tr>
        <tr data-href="@(Url.Action<ToolsController>(x => x.Index()))">
            <td class="table-icon">@Svg.Icon("wrench")</td>
            <td><a href="@(Url.Action<ToolsController>(x => x.Index()))">@T["Tools"]</a></td>
            <td>@T["Various tools and utilities."]</td>
        </tr>
        <tr data-href="@(Url.Action<ManageController>(x => x.Statistics()))">
            <td class="table-icon">@Svg.Icon("chart-line", "green")</td>
            <td><a href="@(Url.Action<ManageController>(x => x.Statistics()))">@T["Usage statistics"]</a></td>
            <td>@T["Check the usage of {0}.", ConfigurationService.ApplicationName]</td>
        </tr>
    </tbody>
</table>


