@model StatisticsEntry
@{
    Title = T["Usage statistics"].ToString();
    Back = Url.Action<ManageController>(c => c.Index());
}

<div class="container-fluid mt-3">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>@T["Statistics"]</th>
                <th class="text-right" style="width:100px;">@T["Count"]</th>
                <th class="text-right" style="width:100px;">@T["Size"]</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@T["Apps"]</td>
                <td class="text-right">@Model.AppCount</td>
                <td class="text-right">--</td>
            </tr>
            <tr>
                <td>@T["Blobs"]</td>
                <td class="text-right">@Model.BlobCount</td>
                <td class="text-right">@FileUtils.FileSizeAsString(Model.BlobSize)</td>
            </tr>
            <tr>
                <td>@T["Comments"]</td>
                <td class="text-right">@Model.CommentCount</td>
                <td class="text-right">--</td>
            </tr>
            <tr>
                <td>@T["Content"]</td>
                <td class="text-right">@Model.ContentCount</td>
                <td class="text-right">--</td>
            </tr>
            <tr>
                <td>@T["Database"]</td>
                <td class="text-right">--</td>
                <td class="text-right">@FileUtils.FileSizeAsString(Model.DatabaseSize)</td>
            </tr>
            <tr>
                <td>@T["Index"]</td>
                <td class="text-right">@Model.IndexCount</td>
                <td class="text-right">@FileUtils.FileSizeAsString(Model.IndexSize)</td>
            </tr>
            <tr>
                <td>@T["Likes"]</td>
                <td class="text-right">@Model.LikeCount</td>
                <td class="text-right">--</td>
            </tr>
            <tr>
                <td>@T["Messages"]</td>
                <td class="text-right">@Model.MessageCount</td>
                <td class="text-right">--</td>

            </tr>
            <tr>
                <td>@T["Posts"]</td>
                <td class="text-right">@Model.PostCount</td>
                <td class="text-right">--</td>

            </tr>
            <tr>
                <td>@T["Spaces"]</td>
                <td class="text-right">@Model.SpaceCount</td>
                <td class="text-right">--</td>

            </tr>
            <tr>
                <td>@T["Stars"]</td>
                <td class="text-right">@Model.StarCount</td>
                <td class="text-right">--</td>

            </tr>
            <tr>
                <td>@T["Tags"]</td>
                <td class="text-right">@Model.TagCount</td>
                <td class="text-right">--</td>

            </tr>
            <tr>
                <td>@T["Users"]</td>
                <td class="text-right">@Model.UserCount</td>
                <td class="text-right">--</td>

            </tr>
        </tbody>
    </table>
</div>
