@model Theme
@{
    Title = "Theme settings";
    Back = ViewBag.Back as string ?? Url.Back(Url.Action<ManageController>(c => c.Index()));
}

<div class="container my-3">
    <form action="@(Url.Action<ManageController>(c => c.UpdateTheme(null)))" method="post" class="tab-content" enctype="application/x-www-form-urlencoded" autocomplete="off" data-turboform novalidate>
        @Html.HttpMethodOverride(HttpVerbs.Put)
        @Html.Hidden("back", Back)
        <div class="text-center">
            @Html.EditorFor(x => x.Logo, additionalViewData: new { AvatarFor = WeavyRequestContext.Current.System })
        </div>
        @Html.EditorsForModel()
        <div class="form-buttons">
            <button type="submit" class="btn btn-primary btn-load">Save</button>
            <a href="@Back" class="btn btn-outline-secondary">Cancel</a>
        </div>
    </form>
</div>
