@model ClientViewModel
@{
    Title = T["Create authentication client"].ToString();
    Back = Url.Action<ClientController>(c => c.Index(null, null));
}

<div class="container my-3">
    @using (Html.BeginForm(nameof(ClientController.Insert), null, FormMethod.Post, new { autocomplete = "off", data_turboform = "", novalidate = "" })) {
        @Html.EditorsForModel()
        <div class="form-buttons">
            <button type="submit" class="btn btn-primary btn-load" title="@T["Save"]">@T["Save"]</button>
            <a href="@Back" class="btn btn-outline-secondary mr-auto">@T["Cancel"]</a>
        </div>
    }
</div>
