@model PostMoveModel

<form class="modal-content" action="@(Url.Action<PostController>(x => x.Move(Model.Post.Id, null)))" method="post" data-turboform>
    <div class="modal-header border-0 pb-0">
        <h5 class="modal-title">@T["Move post"]</h5>
        <button type="button" class="btn btn-icon" data-dismiss="modal">@Svg.Icon("close")</button>
    </div>
    <div class="modal-body">
        @Html.EditorFor(x => x.AppId, new { Source = Model.Post })
    </div>
    <div class="modal-footer border-0">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">@T["Cancel"]</button>
        <button type="submit" class="btn btn-primary btn-load">@T["Move"]</button>
    </div>
</form>
