@model RegisterModel
@{
    ViewBag.Title = "Register";
}
<main>
    <h1>Email confirmed</h1>
    <h2>Welcome to @Theme.Name! Select a username and password below.</h2>
    @using (Html.BeginForm(nameof(SignupController.Register), null, FormMethod.Post, new { data_turboform = true, novalidate = "" })) {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.TextBoxFor(x => x.Username, new { @class = "form-control", placeholder = "Username", autocomplete = "off" })
            <p class="form-text">@(Html.ValidationMessageFor(x => x.Username) == null ? new MvcHtmlString("Select a username.") : Html.ValidationMessageFor(x => x.Username))</p>
        </div>
        <div class="form-group">
            @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Password", autocomplete = "off" })
            <p class="form-text">@(Html.ValidationMessageFor(x => x.Password) == null ? new MvcHtmlString("Select a password") : Html.ValidationMessageFor(x => x.Password))</p>
        </div>
        <div class="buttons">
            <button type="submit" id="btn-confirm" class="button">Sign up</button>
        </div>
    }
</main>
