@model DailyDigestEmail
@{ 
    Layout = "_Layout.cshtml";
    ViewBag.Title = T["Daily digest"];
}
@* STANDARD MODULE // *@
<tr>
    <td align="center" valign="top">
        @* CENTERING TABLE // *@
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td align="center" valign="top">
                    @* FLEXIBLE CONTAINER // *@
                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer">
                        <tr>
                            <td align="center" valign="top" width="600" class="flexibleContainerCell">
                                @* CONTENT TABLE // *@
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td valign="top" class="textContent">
                                            @T["Hi, here's some information you may have missed:"]
                                        </td>
                                    </tr>
                                </table>
                                @* // CONTENT TABLE *@
                            </td>
                        </tr>
                    </table>
                    @* // FLEXIBLE CONTAINER *@
                </td>
            </tr>
        </table>
        @* // CENTERING TABLE *@
    </td>
</tr>
@* // STANDARD MODULE *@


@* NOTIFICATION MODULE // *@
<tr>
    <td align="center" valign="top">
        @* CENTERING TABLE // *@
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td align="center" valign="top">
                    @* FLEXIBLE CONTAINER // *@
                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer">
                        <tr>
                            <td valign="top" width="600" class="flexibleContainerCell">
                                @* CONTENT TABLE // *@
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout:fixed;">
                                    @foreach (var notification in Model.Notifications) {
                                    <tr>
                                        <td valign="top" class="imageContent" width="52" style="padding-top:4px;">
                                            <img src="@notification.CreatedBy().AvatarUrl(32)" width="32" height="32" style="border-radius:32px;" />
                                        </td>
                                        <td valign="top" class="textContent">
                                            @Html.Raw(HtmlExtensions.GetHtmlForEmail(notification))<br />
                                            <small>@notification.CreatedAt.ToLocal()</small>
                                        </td>
                                    </tr>
                                    }
                                </table>
                                @* // CONTENT TABLE *@
                            </td>
                        </tr>
                    </table>
                    @* // FLEXIBLE CONTAINER *@
                </td>
            </tr>
        </table>
        @* // CENTERING TABLE *@
    </td>
</tr>
@* // NOTIFICATION MODULE *@

@section footer {
    @* CONTENT TABLE // *@
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td valign="top" class="footerContent">
                @T["Not interested in these emails anymore?"] <a href="/settings">@T["Edit your notification settings"]</a>.
            </td>
        </tr>
    </table>
    @* // CONTENT TABLE *@
}
