@using Weavy.web.Controllers
@model OfficeTaskpaneModel
@{
    Layout = null;
    var spaces = SpaceService.Search(new SpaceQuery() { Archived = false, Filter = true }).Where(x => x.HasPermission(Permission.Content));
}
<!DOCTYPE html>
<html class="@HtmlClasses()" lang="@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, maximum-scale=1, user-scalable=no"> @* Viewport must contain width=device-width, minimum-scale=1.0 to trigger GPU Rasterization https://www.chromium.org/developers/design-documents/chromium-graphics/how-to-get-gpu-rasterization *@
    <meta name="turbolinks-cache-control" content="no-preview">
    <title>@Html.Title(Title)</title>
    @Html.ThemeHead()
    @Html.ThemeStyle("~/styles/weavy.scss")
    @Bundler.Scripts("~/scripts/office.bundle")
</head>
<body class="@BodyClasses()" @BodyAttributes data-spaces-count="@spaces.Count()">
    @Html.SvgSprite()

    <main role="main">
        <div class="container-fluid my-3" data-type="content" data-id="@(Model.Document?.Id)" data-content-id="@(Model.Document?.Id)">
            <div class="actions">
                @if (!Model.IsWebDav && Model.Document.HasPermission(Permission.Edit)) {
                    <button class="btn btn-icon btn-badge" title="Save to Weavy" data-id="@Model.Document.Id" data-save>@Html.SvgIcon("content-save") </button>
                }
                <a class="btn btn-icon nav-link btn-badge" data-toggle="drawer" data-target="#drawer-messenger" title="Messenger">
                    @Html.SvgIcon("message-text")
                    @Html.ConversationsBadge()
                </a>
            </div>

            @if (Model.Document == null) {
                <div class="attach @(spaces.Count() != 0 ? "office-attach" : "office-newbie")" id="drawer-attach">
                    @if (spaces.Count() == 0) {
                        @Html.SvgIcon("star", color: "yellow-400", htmlAttributes: new { @class = "large-icon" })
                        <h1 class="display-2">Newbie</h1>
                        <p>Looks like your installation is brand new and fresh.</p>
                        <p>We suggest you setup some spaces you can attach your files to.</p>
                        <div class="form-buttons d-flex justify-content-center">
                            <button type="button" class="btn btn-outline-secondary" title="Refresh" data-reload>@Html.SvgIcon("refresh")</button>
                            <a class="btn btn-primary" href="~/" target="_blank">Take me there</a>
                        </div>
                    } else {
                        <h1 class="display-2">Attach file</h1>
                        <form action="" method="post" data-attach>
                            @Html.EditorFor(x => x.ContentAttachModel.ParentId)
                            <label for="DocName">Name</label>
                            <div class="input-group">
                                @Html.TextBox("DocName", Model.Name, new { @class = "form-control filename", placeholder = "Filename" })
                                <div class="input-group-append">
                                    <span class="input-group-text" id="extension">.@Model.Extension</span>
                                </div>
                            </div>
                            <div class="form-buttons">
                                <button type="submit" class="btn btn-primary">Attach</button>
                                <button type="button" class="btn btn-outline-secondary" data-toggle-attach>Cancel</button>
                            </div>
                        </form>
                    }
                </div>
                <div class="office-splash">
                    <img class="i large-icon" src="@Url.Content("~/img/upload-plus.svg")" />
                    <h1 class="display-2">Collaborate and Share</h1>
                    <p>This document is not yet attached to your @ConfigurationService.ApplicationName installation.</p>
                    <p>Attach to enable cross app collaboration and sharing.</p>
                    <div class="form-buttons d-flex justify-content-center">
                        <button type="button" class="btn btn-primary" data-toggle-attach>Attach</button>
                    </div>
                </div>
            } else {
                <div class="comments">
                    <h1 class="display-2">Comments</h1>
                    <section class="content-comments my-4" id="comments">
                        <div class="list-group comments" data-container="comments">
                            @if (Model.Document.CommentIds.IsNullOrEmpty()) {
                                <p class="text-muted text-center">Start the conversation! @Html.SvgIcon("message-plus", null, null, new { @class = "i-inline" })</p>
                            }
                            @Html.Partial("_Comments", Model.Document.Comments())
                        </div>
                        @Html.Partial("_CommentForm", Model.Document, new ViewDataDictionary() { { "container", ".comments" } })
                    </section>
                </div>
            }
        </div>
    </main>

    @{
        Html.RenderPartial("_PhotoSwipe");
        Html.RenderPartial("_Preview");
        Html.RenderPartial("_EditCommentModal");
        Html.RenderPartial("_ProfileModal");
        Html.RenderPartial("_FeedbackModal");
    }

    <aside id="drawer-messenger" class="drawer drawer-right">
        <header class="pane-header">
            <div class="navbar navbar-secondary">
                <h1 class="display-2">Messenger</h1>
                <button class="btn btn-icon" type="button" data-close="drawer">@Html.SvgIcon("close")</button>
            </div>
        </header>

        <div class="drawer-body drawer-body-padded">
            <iframe src="@Url.Action(nameof(Weavy.Web.Areas.Messenger.Controllers.MessengerController.Index), typeof(Weavy.Web.Areas.Messenger.Controllers.MessengerController).ControllerName(), new { area =  typeof(Weavy.Web.Areas.Messenger.Controllers.MessengerController).ControllerName() })" name="weavy-standalone"></iframe>
        </div>
    </aside>
    <div class="drawer-backdrop"></div>
</body>
</html>
