@model Role
@{
    Title = T["Edit role"].ToString();
    Back = Model.Url();
}


<div class="container my-3">
    @using (Html.BeginForm(nameof(RolesController.Update), null, new { id = Model.Id }, FormMethod.Post, new { autocomplete = "off", data_turboform = "", novalidate = "" })) {
        @Html.HttpMethodOverride(HttpVerbs.Put)
        @Html.EditorsForModel()
        <div class="form-buttons">
            <button type="submit" name="button" value="@nameof(RolesController.Update)" class="btn btn-primary btn-load" title="Save">@T["Save"]</button>
            <a href="@Back" class="btn btn-outline-secondary mr-auto">@T["Cancel"]</a>
        </div>
    }
</div>
