@model RoleModel
@{
    Title = Model.Role.Name;
    Back = Url.Action<RolesController>(c => c.Index(null));
}

<table class="table @(Model.Members.HasItems() ? "table-hover" : "") table-name">
    <thead>
        <tr>
            <th class="table-icon"></th>
            <th><a href="@Url.OrderBy("name")">@T["Members"]</a></th>
            <th class="table-icon"></th>
        </tr>
    </thead>
    <tbody id="infinite-scroll-target">
        @if (Model.Members.HasItems()) {
            Html.RenderPartial("_MemberTable", Model);
        } else {
            <tr>
                <td class="text-muted text-center empty" colspan="3">@T["This role has no members."] <a href="javascript:; " data-toggle="modal" data-target="#add-dialog" data-keyboard="true" data-focus="true">@T["Go ahead and add some."]</a></td>
            </tr>
        }
    </tbody>
</table>
@Html.ScrollMore(Model.Members)


@section fab {
    <div class="fab">
        <button type="button" class="btn btn-round btn-primary" title="@T["Add members"]" data-toggle="modal" data-target="#add-dialog" data-keyboard="true" data-focus="true">@Svg.Icon("plus")</button>
    </div>
}


@section footer {
    <div class="modal" id="add-dialog" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog scroll-y">
            <div class="modal-content">
                @using (Html.BeginForm(nameof(RolesController.AddMembers), null, new { id = Model.Role.Id }, FormMethod.Post, new { autocomplete = "off", data_turboform = "" })) {
                    <div class="modal-header">
                        <h5 class="modal-title">@T["Add members"]</h5>
                        <button type="button" class="btn btn-icon" data-dismiss="modal" aria-label="@T["Close"]">@Svg.Icon("close")</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="form-control-label" for="users">@T["Add people by entering their username below."]</label>
                            <select class="form-control" name="users" multiple="multiple" data-role="users" style="width:100%;"></select>
                        </div>
                        <div class="form-group">
                            <p class="user-items"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">@T["Cancel"]</button>
                        <button type="submit" class="btn btn-primary btn-load" data-isuser="1">@T["Add"]</button>
                    </div>
                }
            </div>
        </div>
    </div>
}
