@model Folder
@{
    Title = WeavyContext.App.Name;
}

@if (!WeavyContext.Current.IsEmbedded) {
    @section navbar_secondary {
        @Html.Partial("~/Views/Space/_Navbar.cshtml")
    }
}

@section navbar_tertiary {
    <nav class="navbar navbar-light">
        @Html.Breadcrumbs(Model)
        @if (Model is IStarrable starrable) {
            @Html.StarToggle(starrable)
        }
        <div class="navbar-icons">
            @if (Model.Items.Query.Layout == Weavy.Core.Models.Layout.Card) {
                <a href="@Url.Rebuild("layout", "table")" class="btn btn-icon" title="@T["Table view"]">@Svg.Icon("view-list-outline")</a>
            } else {
                <a href="@Url.Rebuild("layout", "card")" class="btn btn-icon" title="@T["Card view"]">@Svg.Icon("view-module-outline")</a>
            }
            @*<button class="btn btn-icon">@Svg.Icon("sort-alphabetical")</button>*@
            @{ Html.RenderPartial("_ContentMenu"); }
        </div>
    </nav>
}

<div class="progress progress-files d-none">
    <div class="progress-bar" role="progressbar"></div>
</div>

@if (Model.Items.IsNullOrEmpty()) {
    <p class="empty text-center text-muted py-4 px-1">
        @T["Nothing in this folder yet."]
        @if (Model.HasPermission(Permission.Content)) {
            <text>@T["Go ahead and add some files!"]</text>
        }
    </p>
}

@if (Model.Items.Query.Layout == Weavy.Core.Models.Layout.Card) {
    <div class="content-cards draggable" id="infinite-scroll-target">
        @{ Html.RenderPartial(Model.Items); }
    </div>
} else {
    <table class="table table-hover table-files draggable">
        <tbody id="infinite-scroll-target">
            @{ Html.RenderPartial(Model.Items); }
        </tbody>
    </table>
}

@Html.ScrollMore(Model.Items)

@section fab {
    @Html.FAB(Model)
}

@section footer {
    @{
        Html.RenderPartial("_FilesModals");
    }
}
