@model ActionDoc
@using Weavy.Web.Areas.Docs.Models

@if (Model.ApiDescription.ParameterDescriptions.Count > 0 || Model.SampleRequest != null) {
  <h2 class="display-2">Request</h2>
  if (Model.ApiDescription.ParameterDescriptions.Count > 0) {
    @Html.DisplayFor(apiModel => apiModel.ApiDescription.ParameterDescriptions, "Parameters")
  }
   
  if (!string.IsNullOrEmpty(Model.Example) || Model.SampleRequest != null) {
    <h4 class="display-4">Example</h4>
    if (!string.IsNullOrEmpty(Model.Example)) {
    <pre>@Model.Example</pre>
    }

    if (Model.SampleRequest != null) {
      @Html.DisplayFor(s => Model.SampleRequest);
    }
  }
}

@if (!string.IsNullOrEmpty(Model.Returns) || Model.SampleResponse != null) {
  <h2 class="display-2">Response</h2>
  if (!string.IsNullOrEmpty(Model.Returns)) {
    <p>@Model.Returns</p>
  }

  
  if (Model.SampleResponse != null) {
    <h4 class="display-4">Example</h4>
    @Html.DisplayFor(s => Model.SampleResponse);
  }
}
