@model Entity
<tr data-href="@Model.Url()">
  <td class="table-icon">
    @if ((Model.Type == EntityType.Space || Model.Type == EntityType.User) && Model.Value is IHasAvatar entity) {
      @entity.AvatarImg(size: 32)
    } else {
      @Svg.Icon(Model)
    }
  </td>
  <td><a href="@Model.Url()">@Model.GetTitle()</a></td>
  <td class="table-icon">
    <button type="button" class="btn btn-icon on" data-entity="@Model.Type.ToString().ToLower()" data-id="@Model.Id" data-toggle="star">
      @Svg.Icon("star-outline", "yellow", htmlAttributes: new { @class = "d-block" })
      @Svg.Icon("star", "yellow", htmlAttributes: new { @class = "d-none" })
    </button>
  </td>
</tr>
