@model IEnumerable<System.IO.FileInfo>
@{
    Title = T["Log files"].ToString();
    Back = Url.Action<ManageController>(c => c.Index());
}


@if (Model.HasItems()) {
    <table class="table table-hover table-logs" id="table-logfiles">
        <thead>
            <tr>
                <th class="table-icon"></th>
                <th>@T["Name"]</th>
                <th>@T["Modified"]</th>
                <th>@T["Size"]</th>
                <th class="table-icon"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AsSmartEnumerable()) {
                <tr data-href="@(Url.Action<LogsController>(c => c.Get(item.Value.Name.ToLower(), null)))">
                    <td class="table-icon"><a class="btn btn-icon" href="@Url.Action(item.Value.Name, "Get", new { name = item.Value.Name.ToLower() })" target="_blank">@Svg.Icon("file-document", "primary")</a></td>
                    <td>@Html.ActionLink(item.Value.Name, "Get", new { name = item.Value.Name.ToLower() }, new { target = "_blank" })</td>
                    <td>@Html.Time(item.Value.LastWriteTimeUtc, format: "g")</td>
                    <td>@FileUtils.FileSizeAsString(item.Value.Length)</td>
                    <td class="table-icon text-right">
                        <div class="dropdown">
                            <button type="button" class="btn btn-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="@T["Toggle Dropdown"]">
                                @Svg.Icon("dots-vertical")
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="@(Url.Action<LogsController>(c => c.Get(item.Value.Name.ToLower(), null)))" class="dropdown-item">@Svg.Icon("file-document") @T["View"]</a>
                                <a href="@(Url.Action<LogsController>(c => c.Get(item.Value.Name.ToLower(), null)))?download=true" class="dropdown-item">@Svg.Icon("download") @T["Download"]</a>
                                <div class="dropdown-divider"></div>
                                <form action="@(Url.Action<LogsController>(c => c.Delete(item.Index)))" method="post" data-turboform>
                                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                                    <button type="submit" name="name" value="@item.Value.Name.ToLower()" class="dropdown-item">@Svg.Icon("delete", "danger") @T["Delete"]</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
