@model User
@{
    Title = Model.GetTitle();
    var profiledata = Html.DisplayGroups(Model.Profile, exclude: new[] { "Avatar", "Name" })?.ToHtmlString();
}

<div class="cover cover-bg text-center py-4">
    @Model.AvatarImg(128)
    @if (Model.Username == Title) {
        <p class="pt-2 mb-0">@@@Model.Username @Html.Badge(Model)</p>
    } else {
        <p class="pt-2 mb-0">@Title <small>@@@Model.Username</small> @Html.Badge(Model)</p>
    }

    <button type="button" class="btn btn-icon top-right" data-dismiss="modal">@Html.SvgIcon("close")</button>

</div>


<div class="modal-body">
    <div class="top-right">@{ Html.RenderPartial("_UserMenu", Model);}</div>

    @if (profiledata.IsNullOrWhiteSpace() && Model.Email == null) {
        if (Model.Id == User.Id) {
            <p class="text-muted text-center py-3 empty">You should <a href="@Url.Action(nameof(AccountController.EditProfile), typeof(AccountController).ControllerName())">edit your profile</a> and add some information to this page...</p>
        } else {
            <p class="text-muted text-center py-3 empty">You should let @Title know that their profile page is empty...</p>
        }
    } else {
        @Html.Raw(profiledata);
    }

    @if (Model.Email != null) {
        <div class="display-group" data-type="string">
            <label class="font-weight-bold">Email</label>
            <div>@Html.DisplayFor(x => Model.Email)</div>
        </div>
    }

</div>
