@model SetupAccountModel
@{
    Title = "User account";
    Layout = "~/Views/Setup/_Layout.cshtml";
}

<h1 class="display-3">@Title</h1>
<p>@T["Create a user account for yourself. Since you are the first user, you will become administrator for this installation."]</p>

@using (Html.BeginForm(null, null, FormMethod.Post, new { autocomplete = "off", data_turboform = "", novalidate = "" })) {
    @Html.EditorsForModel(labels: false)
    <div class="form-buttons">
        <a href="@ViewBag.BackUrl" class="btn btn-outline-secondary">@T["Back"]</a>       
        <button type="submit" class="btn btn-primary btn-load">@T["Next"]</button>
    </div>
}
