@model LicenseModel
@{
    Title = Bootstrapper.Status == SystemStatus.Setup ? T["Register license"].ToString() : T["Invalid license"].ToString();
    Layout = "~/Views/Setup/_Layout.cshtml";
}

<h1 class="display-3">@Title</h1>
@if (Bootstrapper.Status == SystemStatus.Setup) {
    <p>@T["Please enter your license key to continue."]</p>
} else {
    <p>@T["Invalid license detected. Please enter a valid license key to continue."]</p>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { autocomplete = "off", novalidate = "", data_turboform = "" })) {
    @Html.EditorsForModel(labels: false)
    <div class="form-buttons">
        @if (Bootstrapper.Status == SystemStatus.Setup) {
            <a href="@(Url.Action<SetupController>(c => c.Register()))" class="btn btn-outline-secondary">@T["Back"]</a>
            <button type="submit" class="btn btn-primary btn-load">@T["Next"]</button>
        } else {
            <button type="submit" class="btn btn-primary btn-load">@T["Update"]</button>
        }
    </div>
}
