@model LicenseRequest
@{
    Title = T["Register for a license"].ToString();
    Layout = "~/Views/Setup/_Layout.cshtml";
}

<h1 class="display-3">@Title</h1>
<p>@T["First you need a license. Just fill in the details below and we'll fetch one for you. If you already have a license, {0}.", Html.ActionLink<SetupController>(c => c.License(), text: T["click here"], htmlAttributes: new { @style = "text-decoration:underline;" })]</p>

@using (Html.BeginForm(null, null, FormMethod.Post, new { autocomplete = "off", data_turboform = "", novalidate = "" })) {
    @Html.EditorsForModel(labels: false)
    <div class="form-buttons">
        @(Html.ActionLink<SetupController>(c => c.Index(), text: T["Back"], htmlAttributes: new { @class = "btn btn-outline-secondary" }))
        <button type="submit" class="btn btn-primary btn-load">@T["Next"]</button>
    </div>
}

