@model IEnumerable<IHook>
@{
    Title = T["Hooks"].ToString();
    Back = Url.Action<ManageController>(c => c.Index());
}


@if (Model.HasItems()) {
    <table class="table table-hover table-name-desc">
        <thead>
            <tr>
                <th class="table-icon"></th>
                <th>@T["Name"]</th>
                <th>@T["Description"]</th>
                <th class="table-icon"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hook in Model) {
                <tr @(Html.Raw(!hook.IsLoaded() ? @"class=""table-warning""" : !hook.IsEnabled ? @"class=""table-muted""" : "")) data-href="@(Url.Action<HooksController>(c => c.Get(hook.Id)))">
                    <td class="table-icon"><a class="btn btn-icon" href="@(Url.Action<ToolsController>(c => c.Get(hook.Id)))">@Svg.Icon(hook.Icon, hook.Color)</a></td>
                    <td><a href="@(Url.Action<HooksController>(c => c.Get(hook.Id)))">@hook.Name</a></td>
                    <td>@hook.Description</td>
                    <td class="table-icon">
                        @if (!hook.IsLoaded()) {
                            using (Html.BeginForm(nameof(HooksController.Delete), null, new { id = hook.Id.ToString() }, FormMethod.Post, new { data_turboform = "" })) {
                                @Html.HttpMethodOverride(HttpVerbs.Delete);
                                <button type="submit" class="btn btn-icon btn-danger" title="@T["Remove"]">@Svg.Icon("close")</button>
                            }
                        } else if (!hook.IsCore()) {
                            if (hook.IsEnabled) {
                                using (Html.BeginForm(nameof(HooksController.Disable), null, new { id = hook.Id.ToString() }, FormMethod.Post, new { data_turboform = "" })) {
                                    @Html.HttpMethodOverride(HttpVerbs.Put);
                                    <button type="submit" class="btn btn-icon btn-success" title="@T["Enabled"]" @if (hook.IsCore()) { <text> disabled</text> }>@Svg.Icon("checkbox-marked-outline")</button>
                                }
                            } else {
                                using (Html.BeginForm(nameof(HooksController.Enable), null, new { id = hook.Id.ToString() }, FormMethod.Post, new { data_turboform = "" })) {
                                    @Html.HttpMethodOverride(HttpVerbs.Put);
                                    <button type="submit" class="btn btn-icon btn-warning" title="@T["Disabled"]">@Svg.Icon("checkbox-blank-outline")</button>
                                }
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

