@model Conversation
<div class="dropdown-menu dropdown-menu-right conversation-menu">
    @* menu contains all possible actions, individual item are hidden with css like .starred, .unread etc. on parent element *@
    <button type="button" class="dropdown-item" data-action="show-info">@T["Show info"]</button>
    <button type="button" class="dropdown-item" data-action="hide-info">@T["Hide info"]</button>
    <button type="button" class="dropdown-item" data-action="star" data-id="@Model.Id">@T["Star conversation"]</button>
    <button type="button" class="dropdown-item" data-action="unstar" data-id="@Model.Id">@T["Unstar conversation"]</button>
    <button type="button" class="dropdown-item" data-action="pin" data-id="@Model.Id">@T["Pin conversation"]</button>
    <button type="button" class="dropdown-item" data-action="unpin" data-id="@Model.Id">@T["Unpin conversation"]</button>
    <button type="button" class="dropdown-item" data-action="read" data-id="@Model.Id">@T["Mark as read"]</button>
    <button type="button" class="dropdown-item" data-action="unread" data-id="@Model.Id">@T["Mark as unread"]</button>
    @if (Model.IsRoom && Model.HasPermission(Permission.Members)) {
        <button type="button" class="dropdown-item" data-action="add-people" data-id="@Model.Id">@T["Add people"]</button>
    }
    <button type="button" class="dropdown-item" data-action="leave" data-id="@Model.Id">@T["Leave conversation"]</button>
    @*<button type="button" class="dropdown-item" data-action="archive" data-id="@Model.Id">Archive conversation</button>*@

</div>
