@model Messenger

@* different actions depending on if we are rendering full messenger or conversation only *@
<form class="message-form" action="@(Model.IsMessenger ? Url.Action<MessengerController>(c => c.InsertMessengerMessage(Model.Conversation.Id, null)) : Url.Action<MessengerController>(c => c.InsertMessage(Model.Conversation.Id, null)))" method="post">
    <table class="table table-meetings"></table>
    <table class="table table-uploads"></table>
    <fieldset class="form-container" disabled>
        <div class="progress d-none">
            <div class="progress-bar" role="progressbar"></div>
        </div>
        <div class="form-group">
            @Html.Filebrowser(true, ConfigurationService.BlobWhitelist, "messenger", htmlAttributes: new { data_dropzone = "main" })
            @if (Model.TeamsEnabled && Model.ZoomEnabled) {
                <div class="dropup">
                    <button type="button" class="btn btn-icon btn-meeting dropup" data-toggle="dropdown">@Svg.Icon("video")</button>
                    <div class="dropdown-menu">
                        <button type="button" class="dropdown-item btn-add-meeting" data-provider="teams">@Svg.Icon("microsoft-teams", color: "native") @T["Teams meeting"]</button>
                        <button type="button" class="dropdown-item btn-add-meeting" data-provider="zoom">@Svg.Icon("zoom", color: "native") @T["Zoom meeting"]</button>
                    </div>
                </div>
            } else if (Model.TeamsEnabled) {
                <button type="button" class="btn btn-icon btn-add-meeting" data-provider="teams">@Svg.Icon("video")</button>
            } else if (Model.ZoomEnabled) {
                <button type="button" class="btn btn-icon btn-add-meeting" data-provider="zoom">@Svg.Icon("video")</button>
            }

            @Html.TextArea("text", string.Empty, new { placeholder = T["Type a message..."], rows = "1", @class = "form-control" })
            <button type="submit" class="btn btn-icon btn-primary" title="@T["Send message"]">@Svg.Icon("send")</button>
        </div>
    </fieldset>
</form>
