@model MessengerSettings

<div id="settings-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header pane-header">
                <button type="button" class="btn btn-icon btn-primary" data-dismiss="modal">@Svg.Icon("arrow-left")</button>
                <div class="pane-title text-truncate">@T["Settings"]</div>
                <button type="button" class="btn btn-icon" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="settings-form" action="@(Url.Action<MessengerController>(x => x.UpdateSettings(null)))" method="post">
                    <fieldset class="my-3">
                        <label>@T["Message settings"]</label>
                        @Html.EditorsForModel(group: "Message", surroundingHtml: false, descriptions: true)
                    </fieldset>

                    <fieldset class="my-3">
                        <label>@T["Notification settings"]</label>
                        <div class="desktop-notification-settings">
                            <p class="notification-required d-none"><a href="javascript:;" class="text-warning">@T["We need your permission to enable desktop notifications in this browser."]</a></p>
                            <p class="text-danger notification-denied d-none">@T["Desktop notifications have been disabled in this browser."]</p>
                            <p class="text-info notification-missing d-none">@T["This browser does not support desktop notifications."]</p>
                        </div>
                        @Html.EditorsForModel(group: "Notifications", surroundingHtml: false, descriptions: false)

                    </fieldset>

                    <fieldset class="my-3">
                        <label>@T["Time zone"]</label>
                        @Html.EditorFor(x => Model.Timezone, additionalViewData: new { __label = false, __desc = false })
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
