@model DirectorySearchResult
@{
    Title = T["Directories"].ToString();
    Back = Url.Action<ManageController>(c => c.Index());
    var membercount = ViewBag.MemberCount as long?;
}

@section fab {
    <div class="fab">
        <a class="btn btn-round btn-primary" href="@(Url.Action<DirectoriesController>(c => c.New()))" title="@T["Add directory"]">@Svg.Icon("plus")</a>
    </div>
}


@(Html.FilterForm<DirectoriesController>(c => c.Index(null), Model.Query))

<table class="table table-hover">
    <thead>
        <tr>
            <th class="table-icon"></th>
            <th><a href="@Url.OrderBy("name")">@T["Name"]</a></th>
            <th class="text-right">@T["Members"]</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="infinite-scroll-target">
        @if (membercount != null) {
            var url = Url.Action<DirectoriesController>(c => c.People(0, null));
            <tr data-href="@url">
                <td class="table-icon">@Svg.Icon("account-box-multiple")</td>
                <td><a href="@url" class="text-muted">@ConfigurationService.ApplicationName @T["(Default)"]</a></td>
                <td class="text-right"><span class="badge badge-secondary">@membercount</span></td>
                <td class="table-icon">
                    <div class="dropdown">
                        <button type="button" class="btn btn-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="@T["Toggle Dropdown"]">
                            @Svg.Icon("dots-vertical")
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="@url">@Svg.Icon("account-multiple", "success") @T["People"]</a>
                        </div>
                    </div>

                </td>
            </tr>
        }
        @{ Html.RenderPartial("_DirectoriesTable", Model); }
    </tbody>
</table>
@Html.ScrollMore(Model)

