@model DirectoryModel
@{
    Title = $"{(Model.Directory?.Name ?? ConfigurationService.ApplicationName)} {T["(Default)"].ToString()}";
    Back = Url.Action<DirectoriesController>(c => c.Index(null));
}

<table class="table @(Model.Members.HasItems() ? "table-hover" : "") table-name-desc">
    <thead>
        <tr>
            <th class="table-icon"></th>
            <th><a href="@Url.OrderBy("name")">@T["Name"]</a></th>
            <th><a href="@Url.OrderBy("email")">@T["Email"]</a></th>
            <th class="table-icon"></th>
        </tr>
    </thead>
    <tbody id="infinite-scroll-target">
        @if (Model.Members.HasItems()) {
            Html.RenderPartial("_UserTable", Model.Members);
        } else {
            <tr>
                <td class="text-muted text-center empty" colspan="4">@T["There are no people in this directory."]</td>
            </tr>
        }
    </tbody>
</table>
@Html.ScrollMore(Model.Members)

