@model Content

<tr data-href="@Model.Url()">
    <td class="table-icon">@Svg.Icon(Model)</td>
    <td><a href="@Model.Url()">@Model.Name</a></td>
    <td class="table-icon"><a class="btn btn-icon" href="@Model.Url()/edit" title="Continue editing">@Svg.Icon("pencil")</a></td>
</tr>

