@model Content

@if (Model is IFollowable followable) {
    var limit = 16;
    var followers = followable.FollowedByIds.Count();

    <section class="content-section subscribers">
        <h4 class="display-4"><span>@T["Subscribers"]</span></h4>

        @if (followers > 0) {
            <div class="facepile">
                @followable.FollowedBy().Take(limit).Facepile(size: 24, link: true)
                @if (followable.FollowedByIds.Count() > limit) {
                    <a class="btn btn-round btn-light" href="@followable.Url()/followers" data-toggle="modal" data-target="#feedback-modal" data-path="@followable.Url().RemoveLeading("/")/followers" data-modal-title="Subscribers" title="Show all subscribers">
                        @Svg.Icon("dots-horizontal", htmlAttributes: new { @class = "text-gray" })
                    </a>
                }
            </div>
        }
        <p class="text-center text-muted">@Html.SubscribersText(followable) @Html.SubscribeToggle(followable, new { @class = "btn btn-link btn-text" }).</p>
    </section>
}

