<svg class="i text-{{color}}"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{icon}}"></use></svg>
    <span>{{#if title_highlight}}{{{title_highlight}}}{{else}}{{title}}{{/if}}</span>
