@model PostsViewModel
@{
    Title = Model.App.Name;
}
@if (ConfigurationService.HtmlPosts || ConfigurationService.HtmlComments) {
    @section scripts{
        @Html.InitHtmlEditor()
    }
}
<div class="container my-3">
    @if (Model.App.HasPermission(Permission.Post)) {
        <form class="card post post-form" action="@(Url.Action<PostController>(c => c.Insert(WeavyContext.App.Id, null)))" method="post" data-turboform>
            <div class="weavy-editor weavy-editor-placeholder minimized">
                <div class="emojionearea form-control" role="application">
                    <div class="emojionearea-editor" contenteditable="false" placeholder="What's on your mind?" tabindex="0" dir="ltr" spellcheck="true" autocomplete="on" autocorrect="on" autocapitalize="on"></div>
                    <div class="emojionearea-picker emojionearea-picker-position-top emojionearea-filters-position-top emojionearea-search-position-top hidden" style="display: none;">
                        <div class="emojionearea-wrapper"></div>
                    </div>
                </div>
                <div class="poll-options"></div>
                <div class="emojionearea-button-container">
                    <div class="btn-file btn btn-icon" title="Add files"><svg class="i i-attachment" height="24" viewBox="0 0 24 24" width="24"><path d="m7.5 18c-3.04 0-5.5-2.46-5.5-5.5s2.46-5.5 5.5-5.5h10.5c2.21 0 4 1.79 4 4s-1.79 4-4 4h-8.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5h7.5v1.5h-7.5c-.55 0-1 .45-1 1s.45 1 1 1h8.5c1.38 0 2.5-1.12 2.5-2.5s-1.12-2.5-2.5-2.5h-10.5c-2.21 0-4 1.79-4 4s1.79 4 4 4h9.5v1.5z"></path></svg><input type="file" name="files" accept="" multiple=""></div>
                    <button type="button" class="btn btn-icon btn-poll" title="Add poll"><svg class="i i-poll-box" height="24" viewBox="0 0 24 24" width="24"><path d="m17 17h-2v-4h2m-4 4h-2v-10h2m-4 10h-2v-7h2m10-7h-14c-1.11 0-2 .89-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.11-.9-2-2-2z"></path></svg></button>
                    @if (!ConfigurationService.HtmlPosts) {
                        <div class="emojionearea-button" title="Insert emoji"><div class="emojionearea-button-open"></div><div class="emojionearea-button-close"></div></div>
                    }
                    <button type="submit" class="btn-submit btn btn-icon btn-primary" title="Submit"><svg class="i i-send" height="24" viewBox="0 0 24 24" width="24"><path d="m2 21 21-9-21-9v7l15 2-15 2z"></path></svg></button>
                </div>
            </div>

            <textarea id="@(ConfigurationService.HtmlPosts ? "html" : "text")" class="form-control" name="@(ConfigurationService.HtmlPosts ? "html" : "text")" data-editor="post" style="display: none;"></textarea>
        </form>
        <div class="card post fake-post">
            <div class="card-header media">
                @User.AvatarImg()
                <h6 class="media-title">
                    <span class="fake-text w-50"></span>
                    <span class="fake-text w-25"></span>
                </h6>
            </div>
            <div class="card-body">
                <span class="fake-text"></span>
                <span class="fake-text w-50"></span>
                <span class="fake-text w-75"></span>
            </div>
        </div>
    }

    @if (WeavyContext.Space.HasPermission(Permission.List)) {
        <div id="infinite-scroll-target" class="posts">
            @Html.Partial("_Posts", Model.Posts)
        </div>
        @Html.ScrollMore(Model.Posts)
    }
</div>

@section footer {
    @{
        Html.RenderPartial("_FeedbackModal");
        Html.RenderPartial("_EditPostModal");
        Html.RenderPartial("_EditCommentModal");
    }
}
