@model SpaceModel
@{
    Title = WeavyContext.Space.Name;
}

@section navbar_middle {
    @{ Html.RenderPartial("_NavbarMenu");}
}

@if (WeavyContext.Space.HasPermission(Permission.Apps)) {
    @section navbar_secondary {
        <nav class="navbar navbar-theme">
            <div class="navbar-icons">
                <a href="@(Url.Action<AppController>(c => c.Add(WeavyContext.Space.Id)))" class="btn btn-icon ml-auto" data-toggle="modal" data-target="#ajax-modal" data-path="@(Url.Action<AppController>(c => c.Add(WeavyContext.Space.Id)))" data-title="@T["Add tab"]" title="@T["Add tab"]">@Svg.Icon("plus") @T["Add tab"]</a>
            </div>
        </nav>
    }
}

<div class="cover cover-bg cover-under-navbar">
    <div class="cover-content">
        @WeavyContext.Space.AvatarImg(128)
    </div>
    <div class="facepile">
        @Model.Members.Facepile(size: 32, link: true, presence: true)
        @if (WeavyContext.Space.HasPermission(Permission.Members)) {
            <button type="button" class="btn btn-round btn-primary btn-sm" data-toggle="modal" data-target="#members-modal" data-keyboard="true" title="@T["Add members"]">@Svg.Icon("plus")</button>
        }
    </div>
</div>

<div class="container my-4">
    @if (!WeavyContext.Space.Description.IsNullOrEmpty()) {
        <p class="lead text-center text-muted mb-2">@WeavyContext.Space.Description</p>
    }
    <p class="small text-center text-muted">
        <a href="@(Url.Action<SpaceController>(c=>c.Members(WeavyContext.Space.Id, null)))">@T[Model.Members.TotalCount.Value, "{0} member"]</a>
    </p>

    @if (!Model.Space.IsMember) {
        <p class="text-center text-danger">@T["Only members have access to apps and content in the space."]</p>
    }
</div>
