@model Space
@using Weavy.Web.Models
@{
    Title = "Add space";
    Back = Url.Back(Url.Action<SpaceController>(c => c.Index(null, null)));
}

@section scripts {
    <script>
        document.addEventListener("turbolinks:load", function () {
            $("#new-space #client").val(wvy.browser.embedded ? true : false);
        });
    </script>
}

@section navbar_secondary {
    <nav class="nav nav-tabs">
        <a class="nav-link active" href="javascript:;">Details</a>
        <a class="nav-link disabled" href="javascript:;">Settings</a>
    </nav>
}

<div class="container my-3">
    @using (Html.BeginForm(nameof(SpaceController.Insert), typeof(SpaceController).ControllerName(), FormMethod.Post, new { autocomplete = "off", data_turboform = "", novalidate = "", id = "new-space" })) {
        @Html.AntiForgeryToken()
        @Html.Hidden("client", false)

        <div class="text-center">
            @Html.EditorFor(x => Model.Avatar, additionalViewData: new { Avatar = Model })
        </div>

        @Html.EditorsForModel()

        <div class="form-buttons">
            <button type="submit" class="btn btn-primary btn-load" title="Save">Save</button>
            <a href="@Back" class="btn btn-outline-secondary mr-auto">Cancel</a>
        </div>

    }
</div>
