@model Space
@using Weavy.Web.Models
@{
    Title = T["Spaces"].ToString();
    Back = Url.Back(Url.Action<SpaceController>(c => c.Index(null, null)));
}


@section navbar_middle {
    @Html.Partial("_NavbarMenu")
}


<div class="container my-3">
    @using (Html.BeginForm(nameof(SpaceController.Insert), typeof(SpaceController).ControllerName(), FormMethod.Post, new { autocomplete = "off", data_turboform = "", novalidate = "" })) {
        <div class="text-center">
            @Html.EditorFor(x => Model.Avatar, additionalViewData: new { Avatar = Model })
        </div>
        @Html.EditorsForModel(exclude: new string[] { nameof(Model.Avatar) })
        <div class="form-buttons">
            <button type="submit" class="btn btn-primary btn-load" title="Save">@T["Save"]</button>
            <a href="@Back" class="btn btn-outline-secondary mr-auto">@T["Cancel"]</a>
        </div>
    }
</div>
