@model TrashSearchResult
@{
    Title = T["Recycle bin"].ToString();
    Back = WeavyContext.Space.Url();
}

@section navbar_middle {
    @{ Html.RenderPartial("_NavbarMenu"); }
}

@section navbar_secondary {
    <nav class="navbar navbar-theme">
        <nav class="nav nav-tabs">
            <a href="@(Url.Action<SpaceController>(c => c.RecycleBin(WeavyContext.Space.Id, null)))" class="nav-link active">@Title</a>
        </nav>
    </nav>
}

<div class="container-fluid mt-3">
    @if (Model.HasItems()) {

        <table class="table table-hover table-recycle-bin">
            <thead>
                <tr>
                    <th class="table-icon"></th>
                    <th>@T["Name"]</th>
                    <th>@T["Kind"]</th>
                    <th>@T["Trashed by"]</th>
                    <th>@T["Trashed at"]</th>
                    <th class="table-icon"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr class="table-trashed">
                        <td class="table-icon">@Svg.Icon(item)</td>
                        <td>@item.Title.Ellipsis(128)</td>
                        <td>@item.Kind()</td>
                        <td>@item.TrashedBy().Link()</td>
                        <td>@Html.Time(item.TrashedAt, format: "g")</td>
                        <td class="table-icon text-right">
                            <div class="dropdown">
                                <button type="button" class="btn btn-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="@T["Toggle Dropdown"]">
                                    @Svg.Icon("dots-vertical")
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <button type="button" class="dropdown-item" data-recycle="@item.Type.ToString().ToLower()" data-id="@item.Id">@Svg.Icon("backup-restore", "success") @T["Restore"]</button>
                                    <button type="button" class="dropdown-item" data-delete="@item.Type.ToString().ToLower()" data-id="@item.Id">@Svg.Icon("delete", "danger") @T["Delete"]</button>
                                    @*<form method="post" action="@(Url.Action<SpaceController>(c => c.DeleteFromRecycleBin(WeavyContext.Space.Id, item)))" data-turboform>
                                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                                            <input type="hidden" name="@nameof(item.Id)" value="@item.Id" />
                                            <input type="hidden" name="@nameof(item.Type)" value="@item.Type" />
                                            <button type="submit" class="dropdown-item">@Svg.Icon("delete", "danger") Delete</button>
                                        </form>*@
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    } else {
        <p class="text-muted text-center">@T["The recycle bin is empty (trashed items are automatically deleted after 30 days)."]</p>
    }
</div>
