@model HomeModel

@{
    Title = "Start";
}

@section navbar_left {
    <div class="navbar-icons">
        <a class="btn btn-icon" href="@WeavyContext.ApplicationPath">@Html.IconImg(24)</a>
    </div>
}

@section navbar_middle {
    @Html.Partial("_NavbarMenu")
}

<div class="cover">
    <div class="container d-flex flex-column">
        <div class="my-4 d-flex flex-column align-items-center mx-auto align-self-center">
            @Html.IconImg(128)
        </div>
        <form action="@(Url.Action<HomeController>(c => c.Search(null, null)))" method="get" class="main-search" data-turboform>
            <div class="form-group" role="search">
                <input id="weavy-main-search" class="form-control" type="search" name="q" value="" placeholder="Search" />
                <button type="submit" class="btn btn-icon">@Svg.Icon("magnify")</button>
            </div>
        </form>
    </div>
</div>

<div class="container d-flex flex-column my-4">

    <h5 class="d-flex">
        <a href="@(Url.Action<SpaceController>(c => c.Index(null, null)))" class="text-hyphens">Spaces</a>
        <a href="@(Url.Action<SpaceController>(c => c.New()))" class="btn btn-icon ml-auto" title="Add space">@Svg.Icon("plus-box-outline")</a>
    </h5>

    @if (Model.Spaces.Any()) {
        <div class="cards">
            @foreach (var space in Model.Spaces) {
                <a class="card card-action" href="@space.Url()">
                    <div class="card-cover">
                        @Html.StarToggle(space, htmlAttributes: new { @class = "top-right" })
                        <div class="facepile">
                            @SpaceService.GetMembers(space.Id, new MemberQuery { Top = 5, OrderBy = "Random" }).Facepile(size: 24)
                        </div>
                        @space.AvatarImg(64)
                    </div>
                    <div class="card-body d-flex">
                        <div class="card-title text-truncate w-100 mb-0">@space.Name</div>
                    </div>
                </a>
            }
        </div>
    } else {
        <p class="text-muted">
            All your active spaces will show up right here.
            We suggest <a href="@(Url.Action<SpaceController>(c => c.New()).ToLower())">creating your first space</a> to get started.
        </p>
    }
</div>

<div class="container d-flex flex-column my-4">

    <h5 class="d-flex">
        <a href="@(Url.Action<PeopleController>(c => c.Index(null, null)))" class="text-hyphens">People</a>
        @if (PermissionService.HasPermission(Permission.Manage)) {
            <a class="btn btn-icon ml-auto" href="@(Url.Action<PeopleController>(c => c.New()))" title="Add user">@Svg.Icon("account-plus")</a>
        }
    </h5>

    <div class="facepile facepile-lg">
        @Model.People.Facepile(size: 48, link: true)
        @if (Model.People.HasNextPage) {
            <a href="@(Url.Action<PeopleController>(c => c.Index(null, null)))" class="btn btn-round btn-light" title="More people">@Svg.Icon("dots-horizontal", color: "icon")</a>
        }
    </div>
</div>
