@model ErrorModel
@{
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
    Title = Model.Code + " " + Model.Description;
}

<div class="container my-4">
    <h1 class="display-1">@Model.Code @Model.Description</h1>
    @if (PermissionService.HasSystemPermission(Permission.ManageSystem)) {
        <p>Version @Bootstrapper.SemVer not allowed. Please <a href="@Url.Action(nameof(Weavy.Web.Areas.Manage.Controllers.HomeController.License), typeof(Weavy.Web.Areas.Manage.Controllers.HomeController).ControllerName(), new { area = "Manage" })">update your license</a> or downgrade to an earlier version.</p>
    } else {
        <p>Version @Bootstrapper.SemVer not allowed. Please contact your system administrator.</p>
    }
    @{ Html.RenderPartial("_Back"); }
</div>
