<header class="navbar navbar-light sticky-top">
    <h6 class="navbar-title mr-auto px-1">@T["Notifications"]</h6>
    <button type="button" class="btn btn-icon btn-primary mr-1" data-read="notifications" title="@T["Mark all as read"]">@Svg.Icon("check-all")</button>
</header>

<div id="tab-notifications" data-notifications>
    <div class="tab-loading d-none">@Svg.Spinner()</div>
    <div class="tab-remote loaded" data-url="@(Url.Action<NotificationController>(c => c.Index()))"> @{ Html.RenderPartial("_Index"); }</div>   
</div>


