@model IndexResult
@{
    Title = "Search";
    string tab = ViewContext.RouteData.Values["tab"] as string;
    string qs = Request.QueryString.Rebuild("top", null, "skip", null).AsQueryString();
}

<div class="container text-center">
    @WeavyContext.Space.AvatarImg(32, htmlAttributes: new { @class = "my-4" })
    <form action="@Url.Rebuild("q", null)" method="get" data-turboform>
        <div class="form-group" role="search">
            <input class="form-control" type="search" name="q" id="search-q" value="@Model.Query.Text" placeholder="Search @WeavyContext.Space.Name" />
            @if (Model.Query.Text.IsNullOrEmpty()) {
                <button type="submit" class="btn btn-icon">@Html.SvgIcon("magnify")</button>
            } else {
                <a href="@WeavyContext.App.Url()" class="btn btn-icon">@Html.SvgIcon("close")</a>
            }
        </div>
    </form>
</div>

<div class="container my-4">
    @if (!string.IsNullOrEmpty(Model.Query.Text)) {
        <nav class="nav nav-tabs mb-4">
            @if (tab == null) {
                @(Html.ActionLink<AppController>(c => c.Get(WeavyContext.App.Id, null), qs: qs, text: "Everything", htmlAttributes: new { @class = "nav-link active" }))
            } else {
                @(Html.ActionLink<AppController>(c => c.Get(WeavyContext.App.Id, null), qs: qs, text: "Everything", htmlAttributes: new { @class = "nav-link" }, active: LinkActive.Path))
            }
            @(Html.ActionLink<SearchAppController>(c => c.Search(WeavyContext.App.Id, "posts", null), qs: qs, text: "Posts", htmlAttributes: new { @class = "nav-link" }, active: LinkActive.Path))
            @(Html.ActionLink<SearchAppController>(c => c.Search(WeavyContext.App.Id, "files", null), qs: qs, text: "Files", htmlAttributes: new { @class = "nav-link" }, active: LinkActive.Path))
            @(Html.ActionLink<SearchAppController>(c => c.Search(WeavyContext.App.Id, "comments", null), qs: qs, text: "Comments", htmlAttributes: new { @class = "nav-link" }, active: LinkActive.Path))

        </nav>
    }

    @if (Model.TotalCount == 0 && !string.IsNullOrEmpty(Model.Query.Text)) {
        <p>Your search - <strong>@Model.Query.Text</strong> - did not match @(tab == null || tab == "everything" ? "anything" : "any " + tab) in @WeavyContext.Space.Name.</p>
        <p>Suggestions:</p>
        <ul>
            @if (Model.Query.SpaceId != null) {
                <li>@(Html.ActionLink<HomeController>(c => c.Search(null, null), qs: qs, text: "Try searching all spaces.", htmlAttributes: new { data_bubble_target = "add" }))</li>
            }
            <li>Make sure that all words are spelled correctly.</li>
            <li>Try different keywords.</li>
            <li>Try more general keywords.</li>
            <li>Try fewer keywords.</li>
        </ul>
    }

    @{ Html.RenderPartial("_SearchResult"); }
</div>
